title=
date=
type=page
status=published
~~~~~~
    
    <div id="about_us_page" class="commonClass">
        <h1 class="top_header">About Us</h1>
        <p>CurrencyFreaks is a currency API created by <a href="">JFreaks Software Solutions</a>. It is the second developers API 
            introduced by JFreaks. The first one, <a href="">ipgeolocation.io,</a> was introduced in May 2018. Its accuracy and 
            economical plans drove it to profitability within a year. <br><br> The success of ipgeolocation was one of the 
            catalysts for the development of CurrencyFreaks. <br><br> After seeing the demand for a stable, clean and economical 
            currency API among developers, JFreaks decided to introduce a no-fuss currency conversion API. <br><br> CurrencyFreaks 
            API provides its users reliable, accurate and regularly updated currency data for 177 currencies. <br><br> We gather 
            our data from sources that hold a place of authority in foreign exchange rate data.
        </p>
    </div>