title=
date=
type=page
status=published
~~~~~~
<div class="contact_us commonClass">
    <div class="contact_content">
        <img src="img/undraw-mail.svg" alt="">
    </div>
    <div class="contact_content">
        <div class="contactForm">
            <h3 class="title">Contact Us</h3>
            <p class="description">Leave us a message for any query, 
                question, suggestion or report correction for CurrencyFreaks API. We will get in touch.</p>
            <form action="">
                <div class="form_elements">
                    <label for="">Name</label>
                    <input type="text" name="fname" placeholder="e.g Charles">
                </div>
            <div class="email_phone">
                <div class="form_elements">
                    <label for="">Email</label>
                    <input type="email" class="email" placeholder="e.g abc@example.com">                    
                </div>
                <div class="form_elements phone">
                    <label for="">Phone</label>
                    <input type="tel" placeholder="e.g +1234567890">
                </div>
            </div>
                <div class="form_elements">
                    <label for="">Message</label>
                    <textarea name="" id="" cols="55" rows="10"></textarea>
                </div>
                <div class="form_elements">
                    <input type="submit" class="submitBtn">
                </div>
            </form>            
    
        </div>
    </div>
</div>