date=
type=page
status=published
~~~~~~


<div class="converter commonClass">
    <div>
        <h1 class="top_header">Historical Foreign Exchange Rate Converter            
            <small style="display: block; padding: 10px 0;">
                Date: <input type="date" id="date" value="">
            </small>
        </h1>
    </div>
    <div class="mainContent">
        <div class="amount">
            <label for="">Amount</label>
            <input type="number" class="inpNum" placeholder="Amount">
        </div>
        <div class="toFrom">
            <div class="from">
                <label for="">From Currency</label>
                <input list="countryName_0" placeholder="Select" onfocus="this.value=''" onchange="this.blur();" id="fromCurrency" class="toFromInput" />
                <datalist id="countryName_0">
                    <select name="">
                        <option value="AED">UAE Dirham</option>
                        <option value="AFN">Afghani</option>
                        <option value="ALL">Lek</option>
                        <option value="AMD">American Dram</option>
                        <option value="ANG">Netherlands Antillean Guilder</option>
                        <option value="AOA">Angolan Kwanza</option>
                        <option value="ARS">Argentine Peso</option>
                        <option value="AUD">Australian Dollar</option>
                        <option value="AWG">Aruban Florin</option>
                        <option value="AZN">Azerbaijan Manat</option>
                    </select>
                </datalist>
            </div>
            <div class="swapBtn">
                <button onclick="swapValues()">⇄</button>
            </div>            
            <div class="to">
                <label for="">To Currency</label>
                <input list="countryName_1" onfocus="this.value=''" onchange="this.blur();" placeholder="Select" id="toCurrency" class="toFromInput">
                <datalist id="countryName_1">
                    <select>
                        <option value="AED">UAE Dirham</option>
                        <option value="AFN">Afghani</option>
                        <option value="ALL">Lek</option>
                        <option value="AMD">American Dram</option>
                        <option value="ANG">Netherlands Antillean Guilder</option>
                        <option value="AOA">Angolan Kwanza</option>
                        <option value="ARS">Argentine Peso</option>
                        <option value="AUD">Australian Dollar</option>
                        <option value="AWG">Aruban Florin</option>
                        <option value="AZN">Azerbaijan Manat</option>
                    </select>
                </datalist>
            </div>
        </div>        
        <div class="conBtn">
            <input type="submit" class="conSubBtn" value="CONVERT">
        </div>
        <div class="valueEquals">
            <h3>1PKR = 0.0063 USD</h3>
        </div>
        <div class="liveRates">
            <p>Live Exchange Rates: 2020-12-14 17:01</p>        
        </div>

        <div class="conTable">
            <table class="tableContent">
                <thead>
                    <td class="pakToggle"> 
                        <label class="toggle">
                          <span class="inverse">Inverse</span><input type="checkbox" onclick="myTable(this)">
                            <span class="roundbutton"></span>
                        </label>
                    </td>
                    <th><img src="./img/gbp.png" alt="gbp.png"><span id="gbp">GBP</span></th>
                    <th><img src="./img/usd.png" alt="usd.png"><span id="usd">USD</span></th>
                    <th><img class="eur_png" src="./img/eur.png" alt="eur.png"><span id="eur">EUR</span></th>
                </thead>
                <tbody>
                    <td class="pakToggle">
                        <img class="pk-64" src="./img/pk_64.png" alt="pk_64.png">
                        <span id="onepkr">1 PKR</span>                        
                    </td>
                    <td><img class="sideBorder" src="./img/side-border.png" alt="side-border.png"><span class="tbodySpan" id="gbpData">0.0047</span></td>
                    <td><span class="tbodySpan" id="usDollar">0.0063</span></td>
                    <td><span class="tbodySpan" id="eurData">0.0052</span></td>
                </tbody>
            </table>
        </div>

    </div>
</div>