title=
date=
type=page
status=published
~~~~~~
<div class="documentation commonClass">
    <div class="sidebar docx_0">
        <div class="docx_0_1">
            <a class="a_title">GET STARTED</a>
            <a href="">Authorization</a>
            <a href="#apiKeys">API Key</a>
            <a href="#ssl">Security/SSL</a>
            <a href="#errorCodes">HTTP Error Codes</a>
            <a class="a_title">ENDPOINTS</a>
            <a href="#latCurRts">Latest Currency Rates</a>
            <a href="">Desired Currencies Rates Only</a>
            <a href="">Change Base Currency</a>
            <a href="">Latest Rates Conversion</a>
            <a href="">Historical Rates Endpoint</a>
            <a href="">Time Series Endpoint</a>
            <a href="">Fluctuation Endpoint</a>
            <a href="">Historical Rates Conversion</a>
            <a href="">IP To Currency</a>
        </div>        
    </div>
    <div class="documentationContent docx_0">
        <div class="child_documentation">
            <h3 class="title">CurrencyFreaks API</h3> 
            <p class="description">CurrencyFreaks API provides 179 currency exchange rates world wide. This documentation 
                provides complete details of features and available options in this API.</p>    
                <div class="grandChild_documentation" id="auth">
                    <h3 class="title">Authorization</h3>
                    <p class="description" id="apiKeys">In order to use the API, you need to sign up. It does not require credit card required. 
                        The availability of endpoints and features depend on the subscription plan you have.
                    </p>
                    <p class="description">Once you've created your account successfully, you need to get your API key from our 
                        API dashboard. You can use this dashboard to upgrade or downgrade your plan and monitor 
                        your API usage. We strongly discourage the use of API key in client-side JavaScript as 
                        it will expose your API key to the public.
                    </p>
                </div>
        </div>
        <div class="child_documentation" >
            <h3 class="title" id="ssl">JSON and XML Response Formats</h3>
            <p class="description">All the endpoints of CurrencyFreaks API can respond in JSON and XML formats,
                JSON is the default response format.</p>
        </div>
        <div class="child_documentation">
            <h3 class="title">XML formate</h3>
            <p class="description">You can get API response in XML format by following way:</p>
            <ul>
                <li>Pass format=xml as a URL parameter.</li>
            </ul>
            <p class="description">Here is an examples of XML response:</p>
<pre class="xml_formate">                                                
<code>
<textarea name="" class="formate" cols="80" rows="21" disabled>
  $ curl 'https://api.currencyfreaks.com/latest?apikey=YOUR_APIKEY&format=xml' 
    <CurrencyFreaks>
        <response>
            <date>2020-08-11 11:44:00+00</date>
                <base>USD</base>
                    <rates>
                        <FJD>2.13402</FJD>
                        <MXN>22.3225</MXN>
                        <STD>21292.767074</STD>
                        <SCR>17.83</SCR>
                        <LVL>0.656261</LVL>
                        <CDF>1947.72</CDF>
                        <GTQ>7.7</GTQ>
                        <BBD>2.0</BBD>
                        <CLP>805.98</CLP>
                        <HNL>24.6815</HNL>
                        <UGX>3667.81</UGX>                                
                    </rates>                          
        </response>
    </CurrencyFreaks>                            
</textarea>
</code>
</pre>

            <p class="description">If you don't set format URL parameter the API will respond in JSON format.</p>
        </div>
        <div class="child_documentation">
            <h3 class="title">Security / SSL</h3>
            <p class="description">We take security seriously and all of our API endpoints are served over a secure 
                HTTPS connection for all users, even if you are on the free plan.</p>
        </div>
        <div class="child_documentation">
            <h3 class="title">Available Endpoints</h3>
            <p class="description">CurrencyFreaks API has following endpoints</p>
        </div>

        <div class="child_documentation">
            <h3 class="title">Get Latest Currency Rates</h3>
            <p class="description">This endpoint returns the latest rates of all available currencies with timestamp 
                by USD as default base currency. The URL for this endpoint is https://api.currencyfreaks.com/latest 
                and its curl example with JSON response is below:</p>

    <pre class="xml_formate" id="latCurRts">                                                
    <code>
    $ curl 'https://api.currencyfreaks.com/latest?apikey=YOUR_APIKEY&symbols=PKR,GBP,EUR,USD'

        {
            "date": "2020-07-02 10:57:00+00",
            "base": "USD",
            "rates": {
            "PKR": 167.0,
            "GBP": 0.7994,
            "EUR": 0.8863,
            "USD": 1.0
            }
        }
    </code>
    </pre>
        </div>

        <div class="child_documentation">
            
            <h3 class="title">Get the Rates of Required Currencies Only</h3>            
            <p class="description">You can filter the API response by specifying the currency 
                codes which you want to know their rates instead of getting the full response. 
                Codes of the required currencies must be passed as values separated by comma of 
                the query parameter "symbols" in the request. Here is a curl example to get rates 
                of specific currency codes only:</p>
    <pre class="xml_formate">                                                
    <code>
    $ curl 'https://api.currencyfreaks.com/latest?apikey=YOUR_APIKEY&symbols=PKR,GBP,EUR,INR&base=EUR'
    {
        "date": "2020-07-02 10:55:00+00",
        "base": "EUR",
        "rates": {
            "PKR": 188.4876,
            "GBP": 0.9022,
            "EUR": 1.0,
            "INR": 84.4496
        }
    }
        </code>
        </pre>              
    <p class="description"><strong>Note: </strong>Changing base currencies is available for the paid plans only.</p>                  
        </div>
        <div class="child_documentation">
            <h3 class="title">Get latest rates of all currencies by a specific base</h3>
            <p class="description">Here is a curl example which give rates of available currencies by custom base currency:</p>
            
            <pre class="xml_formate" style="padding: 10px 0;"><code>$ curl 'https://api.currencyfreaks.com/latest?apikey=YOUR_APIKEY&base=EUR'</code></pre>
            <table class="table">
                <thead>
                    <tr class="t_r">
                        <th class="t_h">Parameter</th>
                        <th class="t_h">Description</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr class="t_r">
                        <td class="t_d">apikey [required]</td>
                        <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">base [optional]</td>
                        <td class="t_d">The three-letter currency code of the currency which want to set as base currency.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">symbols [optional]</td>
                        <td class="t_d">The three-letter currency codes which you want get their rates its value can be one or 
                            more than one currencies separated by comma</td>
                    </tr>
                </tbody>
            </table>
            <h3 class="title">Example Codes for the Latest Currency Exchange Rates endpoint</h3>
            <div class="endPoints">
                <button class="code_buttons active" onclick="showData(event,'shell')">Shell</button>
                <button class="code_buttons" onclick="showData(event, 'node_js')">Node.js</button>
                <button class="code_buttons" onclick="showData(event,'java')">Java</button>
                <button class="code_buttons" onclick="showData(event,'python')">Python</button>
                <button class="code_buttons" onclick="showData(event,'php')">PHP</button>
                <button class="code_buttons" onclick="showData(event,'ruby')">Ruby</button>
                <button class="code_buttons" onclick="showData(event,'js')">JS</button>
                <button class="code_buttons" onclick="showData(event,'c#')">C#</button>
                <button class="code_buttons" onclick="showData(event,'go')">Go</button>
                <button class="code_buttons" onclick="showData(event,'c')">C</button>
                <button class="code_buttons" onclick="showData(event,'swift')">Swift</button>
            </div>
                <div id="shell" class="endpointContent">
    <pre class="xml_formate">
    <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
    </code>
    </pre>            
                </div>
                <div id="node_js" class="endpointContent"> 
    <pre class="xml_formate">
    <code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
        ?apikey=YOUR_APIKEY
        &base=GBP
        &symbols=EUR,USD,PKR,INR')
        .end(function (res) {
        if (res.error) throw new Error(res.error);
        console.log(res.raw_body);
        });    
    </code>
    </pre>
            
                </div>    
                <div id="java" class="endpointContent">
    <pre class="xml_formate">
    <code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
        ?apikey=YOUR_APIKEY
        &base=GBP
        &symbols=EUR,USD,PKR,INR")
        .asString();        
    </code>
    </pre>
            </div>
                <div id="python" class="endpointContent">
    <pre class="xml_formate">
    <code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
        &base=GBP
        &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
    </code>
    </pre>
                    </div>
            
                <div id="php" class="endpointContent">
    <pre class="xml_formate">
    <code>
      setUrl('https://api.currencyfreaks.com/latest
      ?apikey=YOUR_APIKEY
      &base=GBP
      &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
        'follow_redirects' => TRUE
    ));
    try {
      $response = $request->send();
      if ($response->getStatus() == 200) {
      echo $response->getBody();
      }
      else {
      echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
      $response->getReasonPhrase();
      }
    }
    catch(HTTP_Request2_Exception $e) {
      echo 'Error: ' . $e->getMessage();
    }
    </code>
    </pre>        
                </div>
                <div id="ruby" class="endpointContent">
    <pre class="xml_formate">
    <code>
        require "uri"
        require "net/http"

        url = URI("https://api.currencyfreaks.com/latest
            ?apikey=YOUR_APIKEY
            &base=GBP
            &symbols=EUR,USD,PKR,INR")

        https = Net::HTTP.new(url.host, url.port);
        https.use_ssl = true

        request = Net::HTTP::Get.new(url)

        response = https.request(request)
        puts response.read_body    
    </code>
    </pre>
                </div>
                <div id="js" class="endpointContent">
    <pre class="xml_formate">
    <code>
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;

        xhr.addEventListener("readystatechange", function() {
            if(this.readyState === 4) {
            console.log(this.responseText);
            }
        });

        xhr.open("GET", "https://api.currencyfreaks.com/latest
            ?apikey=YOUR_APIKEY
            &base=GBP
            &symbols=EUR,USD,PKR,INR");

        xhr.send();
    </code>
    </pre>
                </div>
                <div id="c#" class="endpointContent">
    <pre class="xml_formate">
    <code>
        var client = new RestClient("https://api.currencyfreaks.com/latest
        ?apikey=YOUR_APIKEY
        &base=GBP
        &symbols=EUR,USD,PKR,INR");

        client.Timeout = -1;

        var request = new RestRequest(Method.GET);

        IRestResponse response = client.Execute(request);

        Console.WriteLine(response.Content);

    </code>
    </pre>        
                </div>
                <div id="go" class="endpointContent">
    <pre class="xml_formate">
    <code>
        package main

        import (
        "fmt"
        "net/http"
        "io/ioutil"
        )

        func main() {

        url := "https://api.currencyfreaks.com/latest
        ?apikey=YOUR_APIKEY
        &base=GBP
        &symbols=EUR,USD,PKR,INR"
        method := "GET"

        client := &http.Client {
        }
        req, err := http.NewRequest(method, url, nil)

        if err != nil {
        fmt.Println(err)
        }
        res, err := client.Do(req)
        defer res.Body.Close()
        body, err := ioutil.ReadAll(res.Body)

        fmt.Println(string(body))
        }
        </code>
    </pre>        
                </div>
                <div id="c" class="endpointContent">
    <pre class="xml_formate">
    <code>
        CURL *curl;
        CURLcode res;
        curl = curl_easy_init();
        if(curl) {
            curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
            curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
            ?apikey=YOUR_APIKEY
            &base=GBP
            &symbols=EUR,USD,PKR,INR");
            curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
            curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
            struct curl_slist *headers = NULL;
            curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
            res = curl_easy_perform(curl);
        }
        curl_easy_cleanup(curl);
    </code>
    </pre>
                </div>
                <div id="swift" class="endpointContent">
    <pre class="xml_formate">
    <code>
        import Foundation

        var semaphore = DispatchSemaphore (value: 0)

        var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
            ?apikey=YOUR_APIKEY
            &base=GBP
            &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
        request.httpMethod = "GET"

        let task = URLSession.shared.dataTask(with: request) { data, response, error in
            guard let data = data else {
            print(String(describing: error))
            return
            }
            print(String(data: data, encoding: .utf8)!)
            semaphore.signal()
        }

        task.resume()
        semaphore.wait()
    </code>
    </pre>
                </div>
            
        </div>
        <!-- <div class="child_documentation">
           
        </div> -->
        <div class="child_documentation">
            <h3 class="title">Conversion Endpoint</h3>
            <p class="description">This endpoint can be used 
                to convert any amount from one currency to another. 
                To use this endpoint, provide the from and to currencies 
                as query parameters. The URL for this 
                endpoint https://api.currencyfreaks.com/latest/convert and 
                here is a curl example to use conversion endpoint:</p>
<pre class="xml_formate">                                                
<code>
    $ curl 'https://api.currencyfreaks.com/latest/convert?apikey=YOUR_APIKEY&from=USD&to=PKR&amount=500'

    {
        "date": "2020-07-02 10:50:00+00",
        "current_rates": {
            "USD": 1.0,
            "PKR": 167.0
        },
        "converted_amount": 83500.0,
        "query": {
            "given_amount": 500.0,
            "from": "USD",
            "to": "PKR"
        }
    }
            
</code>
</pre>  
    <p class="description"><strong>Note:</strong>This feature is available on paid plans only.</p>   
    <table class="table">
        <thead>
            <tr class="t_r">
                <th class="t_h">Parameter</th>
                <th class="t_h">Description</th>
            </tr>                    
        </thead>
        <tbody>
            <tr class="t_r">
                <td class="t_d">apikey [required]</td>
                <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
            </tr>
            <tr class="t_r">
                <td class="t_d">from [required]</td>
                <td class="t_d">The three-letter currency code of the currency you would like to convert from.</td>
            </tr>
            <tr class="t_r">
                <td class="t_d">to [required]</td>
                <td class="t_d">The three-letter currency code of the currency you would like to convert to</td>
            </tr>
            <tr class="t_r">
                <td class="t_d">amount [required]</td>
                <td class="t_d">The amount to be converted.</td>
            </tr>
        </tbody>
    </table>   
    <h3 class="tile">Calling currency conversion endpoint</h3>
    <div class="endPoints">
        <button class="code_buttons active" onclick="showData(event,'shell-0')">Shell</button>
        <button class="code_buttons" onclick="showData(event, 'node_js-0')">Node.js</button>
        <button class="code_buttons" onclick="showData(event,'java-0')">Java</button>
        <button class="code_buttons" onclick="showData(event,'python-0')">Python</button>
        <button class="code_buttons" onclick="showData(event,'php-0')">PHP</button>
        <button class="code_buttons" onclick="showData(event,'ruby-0')">Ruby</button>
        <button class="code_buttons" onclick="showData(event,'js-0')">JS</button>
        <button class="code_buttons" onclick="showData(event,'c#-0')">C#</button>
        <button class="code_buttons" onclick="showData(event,'go-0')">Go</button>
        <button class="code_buttons" onclick="showData(event,'c-0')">C</button>
        <button class="code_buttons" onclick="showData(event,'swift-0')">Swift</button>
    </div>

        <div id="shell-0" name="shell" class="endpointContent">
<pre class="xml_formate">
        <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
        </code>
</pre>            
        </div>
        <div id="node_js-0" name="node_js" class="endpointContent"> 
<pre class="xml_formate">
<code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR')
    .end(function (res) {
    if (res.error) throw new Error(res.error);
    console.log(res.raw_body);
    });    
</code>
</pre>
    
        </div>
        <div id="java-0" name="java" class="endpointContent">
<pre class="xml_formate">
<code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")
    .asString();        
</code>
</pre>
    </div>
        <div id="python-0" name="python" class="endpointContent">
<pre class="xml_formate">
<code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
</code>
</pre>
            </div>
    
         <div id="php-0" name="php" class="endpointContent">
<pre class="xml_formate">
<code>
    setUrl('https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
    'follow_redirects' => TRUE
    ));
    try {
    $response = $request->send();
    if ($response->getStatus() == 200) {
    echo $response->getBody();
    }
    else {
    echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
    $response->getReasonPhrase();
    }
    }
    catch(HTTP_Request2_Exception $e) {
    echo 'Error: ' . $e->getMessage();
    }
</code>
</pre>        
        </div> 
        <div id="ruby-0" name="ruby" class="endpointContent">
<pre class="xml_formate">
<code>
    require "uri"
    require "net/http"

    url = URI("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")

    https = Net::HTTP.new(url.host, url.port);
    https.use_ssl = true

    request = Net::HTTP::Get.new(url)

    response = https.request(request)
    puts response.read_body    
</code>
</pre>
        </div>
        <div id="js-0" name="js" class="endpointContent">
<pre class="xml_formate">
<code>
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
    if(this.readyState === 4) {
    console.log(this.responseText);
    }
    });

    xhr.open("GET", "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    xhr.send();
</code>
</pre>
        </div>
        <div id="c#-0" name="c#" class="endpointContent">
<pre class="xml_formate">
        <code>
    var client = new RestClient("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    client.Timeout = -1;

    var request = new RestRequest(Method.GET);

    IRestResponse response = client.Execute(request);

    Console.WriteLine(response.Content);

        </code>
</pre>        
        </div>
        <div id="go-0" name="go" class="endpointContent">
<pre class="xml_formate">
        <code>
    package main

    import (
    "fmt"
    "net/http"
    "io/ioutil"
    )

    func main() {

    url := "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR"
    method := "GET"

    client := &http.Client {
    }
    req, err := http.NewRequest(method, url, nil)

    if err != nil {
    fmt.Println(err)
    }
    res, err := client.Do(req)
    defer res.Body.Close()
    body, err := ioutil.ReadAll(res.Body)

    fmt.Println(string(body))
    }
        </code>
</pre>        
        </div>
        <div id="c-0" name="c" class="endpointContent">
<pre class="xml_formate">
        <code>
    CURL *curl;
    CURLcode res;
    curl = curl_easy_init();
    if(curl) {
    curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
    curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");
    curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
    curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
    struct curl_slist *headers = NULL;
    curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
    res = curl_easy_perform(curl);
    }
    curl_easy_cleanup(curl);
        </code>
</pre>
        </div>
        <div id="swift-0" name="swift" class="endpointContent">
<pre class="xml_formate">
        <code>
    import Foundation

    var semaphore = DispatchSemaphore (value: 0)

    var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
    request.httpMethod = "GET"

    let task = URLSession.shared.dataTask(with: request) { data, response, error in
    guard let data = data else {
    print(String(describing: error))
    return
    }
    print(String(data: data, encoding: .utf8)!)
    semaphore.signal()
    }

    task.resume()
    semaphore.wait()
        </code>
</pre>
        </div>
        </div>

        <div class="child_documentation">
            <h3 class="title">Historical Exchange Rates Endpoint</h3>
            <p class="description">Historical rates are available for most currencies all 
                the way back to the year of 2015. You can query the CurrencyFreaks API for 
                historical rates by appending a date (format YYYY-MM-DD) to the base URL. The URL 
                for this endpoint is https://api.currencyfreaks.com/historical/2020-06-26 
                and here is a curl example to use historical endpoint:</p>
<pre class="xml_formate">                                                
    <code>
    $ curl 'https://api.currencyfreaks.com/historical/2020-06-20?apikey=YOUR_APIKEY'

    {
        "date": "2020-06-20",
        "base": "EUR",
        "rates": {
            "FJD": 2.4361,
            "MXN": 25.3099,
            "STD": 24654.971,
            "LVL": 0.7338,
            "SCR": 19.668,
            "CDF": 2115.2905,
            "BBD": 2.2363,
            "GTQ": 8.6152,
            "CLP": 913.8481,
            "HNL": 27.7003,
            "UGX": 4163.3589,
            [...]
        }
    }                
        </code>
        </pre>
                        <p class="description"><strong>Note:</strong>This feature is available on paid plans only.</p>

                        <table class="table">
                            <thead>
                                <tr class="t_r">
                                    <th class="t_h">Parameter</th>
                                    <th class="t_h">Description</th>
                                </tr>                    
                            </thead>
                            <tbody>
                                <tr class="t_r">
                                    <td class="t_d">apikey [required]</td>
                                    <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
                                </tr>
                                <tr class="t_r">
                                    <td class="t_d">YYYY-MM-DD [required]</td>
                                    <td class="t_d">A date in the past for which historical rates are requested.
                                    </td>
                                </tr>
                                <tr class="t_r">
                                    <td class="t_d">base [optional]</td>
                                    <td class="t_d">The three-letter currency code of the currency.</td>
                                </tr>
                                <tr class="t_r">
                                    <td class="t_d">symbols [optional]</td>
                                    <td class="t_d">List of comma-separated currency codes.</td>
                                </tr>
                            </tbody>
                        </table>
                        <h3 class="tile">Example Codes for the Historical Currency Exchange Rates</h3>
                        <div class="endPoints">
                            <button class="code_buttons active" onclick="showData(event,'shell-1')">Shell</button>
                            <button class="code_buttons" onclick="showData(event, 'node_js-1')">Node.js</button>
                            <button class="code_buttons" onclick="showData(event,'java-1')">Java</button>
                            <button class="code_buttons" onclick="showData(event,'python-1')">Python</button>
                            <button class="code_buttons" onclick="showData(event,'php-1')">PHP</button>
                            <button class="code_buttons" onclick="showData(event,'ruby-1')">Ruby</button>
                            <button class="code_buttons" onclick="showData(event,'js-1')">JS</button>
                            <button class="code_buttons" onclick="showData(event,'c#-1')">C#</button>
                            <button class="code_buttons" onclick="showData(event,'go-1')">Go</button>
                            <button class="code_buttons" onclick="showData(event,'c-1')">C</button>
                            <button class="code_buttons" onclick="showData(event,'swift-1')">Swift</button>
                        </div>
                    
                        <div id="shell-1" name="shell" class="endpointContent">
<pre class="xml_formate">
    <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
    </code>
</pre>            
                        </div>
                        <div id="node_js-1" name="node_js" class="endpointContent"> 
<pre class="xml_formate">
    <code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR')
    .end(function (res) {
    if (res.error) throw new Error(res.error);
    console.log(res.raw_body);
    });    
    </code>
</pre>
                    
                        </div>
                        <div id="java-1" name="java" class="endpointContent">
<pre class="xml_formate">
    <code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")
    .asString();        
    </code>
</pre>
                    </div>
                        <div id="python-1" name="python" class="endpointContent">
<pre class="xml_formate">
    <code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
    </code>
</pre>
                            </div>
                    
                            <div id="php-1" name="php" class="endpointContent">
<pre class="xml_formate">
    <code>
    setUrl('https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
    'follow_redirects' => TRUE
    ));
    try {
    $response = $request->send();
    if ($response->getStatus() == 200) {
    echo $response->getBody();
    }
    else {
    echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
    $response->getReasonPhrase();
    }
    }
    catch(HTTP_Request2_Exception $e) {
    echo 'Error: ' . $e->getMessage();
    }
    </code>
</pre>        
                        </div> 
                        <div id="ruby-1" name="ruby" class="endpointContent">
<pre class="xml_formate">
    <code>
    require "uri"
    require "net/http"

    url = URI("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")

    https = Net::HTTP.new(url.host, url.port);
    https.use_ssl = true

    request = Net::HTTP::Get.new(url)

    response = https.request(request)
    puts response.read_body    
    </code>
</pre>
                        </div>
                        <div id="js-1" name="js" class="endpointContent">
<pre class="xml_formate">
    <code>
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
    if(this.readyState === 4) {
    console.log(this.responseText);
    }
    });

    xhr.open("GET", "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    xhr.send();
    </code>
</pre>
                        </div>
                        <div id="c#-1" name="c#" class="endpointContent">
<pre class="xml_formate">
    <code>
    var client = new RestClient("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    client.Timeout = -1;

    var request = new RestRequest(Method.GET);

    IRestResponse response = client.Execute(request);

    Console.WriteLine(response.Content);

    </code>
</pre>        
                        </div>
                        <div id="go-1" name="go" class="endpointContent">
<pre class="xml_formate">
    <code>
    package main

    import (
    "fmt"
    "net/http"
    "io/ioutil"
    )

    func main() {

    url := "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR"
    method := "GET"

    client := &http.Client {
    }
    req, err := http.NewRequest(method, url, nil)

    if err != nil {
    fmt.Println(err)
    }
    res, err := client.Do(req)
    defer res.Body.Close()
    body, err := ioutil.ReadAll(res.Body)

    fmt.Println(string(body))
    }
    </code>
</pre>        
                        </div>
                        <div id="c-1" name="c" class="endpointContent">
<pre class="xml_formate">
    <code>
    CURL *curl;
    CURLcode res;
    curl = curl_easy_init();
    if(curl) {
    curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
    curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");
    curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
    curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
    struct curl_slist *headers = NULL;
    curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
    res = curl_easy_perform(curl);
    }
    curl_easy_cleanup(curl);
    </code>
</pre>
                        </div>
                        <div id="swift-1" name="swift" class="endpointContent">
<pre class="xml_formate">
    <code>
    import Foundation

    var semaphore = DispatchSemaphore (value: 0)

    var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
    request.httpMethod = "GET"

    let task = URLSession.shared.dataTask(with: request) { data, response, error in
    guard let data = data else {
    print(String(describing: error))
    return
    }
    print(String(data: data, encoding: .utf8)!)
    semaphore.signal()
    }

    task.resume()
    semaphore.wait()
    </code>
</pre>
        </div>

        </div>
        
        <div class="child_documentation">            
            <h3 class="title">Time Series Endpoint</h3>            
            <p class="description">CurrencyFreaks API's timeseries endpoint lets you query 
                the API for daily historical rates between two dates of your choice. The URL 
                for this endpoint https://api.currencyfreaks.com/timeseries and here is a curl 
                example to use time series endpoint:
            </p>
<pre class="xml_formate">
<code style="overflow-x: visible;">
    $ curl 'https://api.currencyfreaks.com/timeseries?apikey=YOUR_APIKEY&start_date=2020-06-01&end_date=2020-06-29&base=EUR&symbols=PKR,USD'

    {
        "start_date": "2020-06-24",
        "end_date": "2020-06-29",
        "base": "EUR",
        "rates": {
            "2020-06-24 00:00:00+00": {
                "PKR": 189.7518,
                "USD": 1.1312
            },
            "2020-06-25 00:00:00+00": {
                "PKR": 188.277,
                "USD": 1.1251
            },
            "2020-06-26 00:00:00+00": {
                "PKR": 187.0548,
                "USD": 1.1218
            },
            "2020-06-27 00:00:00+00": {
                "PKR": 187.8717,
                "USD": 1.122
            },
            "2020-06-28 00:00:00+00": {
                "PKR": 187.8717,
                "USD": 1.122
            },
            "2020-06-29 00:00:00+00": {
                "PKR": 189.1679,
                "USD": 1.1284
            }
        }
    }
    </code>
    </pre>              
                <p class="description"><strong>Note: </strong>This feature is available on paid users starting from Professional plan only.</p>
                <table class="table">
                    <thead>
                        <tr class="t_r">
                            <th class="t_h">Parameter</th>
                            <th class="t_h">Description</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr class="t_r">
                            <td class="t_d">apikey [required]</td>
                            <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">start_date [required]</td>
                            <td class="t_d">The start date of your preferred time frame.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">end_date [required]	</td>
                            <td class="t_d">The end date of your preferred time frame.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">base [optional]</td>
                            <td class="t_d">the three letter currency code which can set as base currency.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">symbols [optional]</td>
                            <td class="t_d">List of comma-separated currency codes.</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="tile">Example Codes for the Time Series Currency Exchange Rates</h3>
                <div class="endPoints">
                    <button class="code_buttons active" onclick="showData(event,'shell-2')">Shell</button>
                    <button class="code_buttons" onclick="showData(event, 'node_js-2')">Node.js</button>
                    <button class="code_buttons" onclick="showData(event,'java-2')">Java</button>
                    <button class="code_buttons" onclick="showData(event,'python-2')">Python</button>
                    <button class="code_buttons" onclick="showData(event,'php-2')">PHP</button>
                    <button class="code_buttons" onclick="showData(event,'ruby-2')">Ruby</button>
                    <button class="code_buttons" onclick="showData(event,'js-2')">JS</button>
                    <button class="code_buttons" onclick="showData(event,'c#-2')">C#</button>
                    <button class="code_buttons" onclick="showData(event,'go-2')">Go</button>
                    <button class="code_buttons" onclick="showData(event,'c-2')">C</button>
                    <button class="code_buttons" onclick="showData(event,'swift-2')">Swift</button>
                </div>
            
                    <div id="shell-2" name="shell" class="endpointContent">
    <pre class="xml_formate">
        <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
        </code>
    </pre>            
                    </div>
                    <div id="node_js-2" name="node_js" class="endpointContent"> 
    <pre class="xml_formate">
        <code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR')
    .end(function (res) {
    if (res.error) throw new Error(res.error);
    console.log(res.raw_body);
    });    
    </code>
    </pre>
                
                    </div>
                    <div id="java-2" name="java" class="endpointContent">
    <pre class="xml_formate">
        <code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")
    .asString();        
        </code>
    </pre>
                </div>
                    <div id="python-2" name="python" class="endpointContent">
    <pre class="xml_formate">
        <code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
        </code>
    </pre>
                        </div>
                
                     <div id="php-2" name="php" class="endpointContent">
    <pre class="xml_formate">
        <code>
    setUrl('https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
    'follow_redirects' => TRUE
    ));
    try {
    $response = $request->send();
    if ($response->getStatus() == 200) {
    echo $response->getBody();
    }
    else {
    echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
    $response->getReasonPhrase();
    }
    }
    catch(HTTP_Request2_Exception $e) {
    echo 'Error: ' . $e->getMessage();
    }
        </code>
    </pre>        
                    </div> 
                    <div id="ruby-2" name="ruby" class="endpointContent">
    <pre class="xml_formate">
        <code>
    require "uri"
    require "net/http"

    url = URI("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")

    https = Net::HTTP.new(url.host, url.port);
    https.use_ssl = true

    request = Net::HTTP::Get.new(url)

    response = https.request(request)
    puts response.read_body    
        </code>
    </pre>
                    </div>
                    <div id="js-2" name="js" class="endpointContent">
    <pre class="xml_formate">
        <code>
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
    if(this.readyState === 4) {
    console.log(this.responseText);
    }
    });

    xhr.open("GET", "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    xhr.send();
        </code>
    </pre>
                    </div>
                    <div id="c#-2" name="c#" class="endpointContent">
    <pre class="xml_formate">
        <code>
    var client = new RestClient("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    client.Timeout = -1;

    var request = new RestRequest(Method.GET);

    IRestResponse response = client.Execute(request);

    Console.WriteLine(response.Content);

        </code>
    </pre>        
                    </div>
                    <div id="go-2" name="go" class="endpointContent">
    <pre class="xml_formate">
        <code>
    package main

    import (
    "fmt"
    "net/http"
    "io/ioutil"
    )

    func main() {

    url := "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR"
    method := "GET"

    client := &http.Client {
    }
    req, err := http.NewRequest(method, url, nil)

    if err != nil {
    fmt.Println(err)
    }
    res, err := client.Do(req)
    defer res.Body.Close()
    body, err := ioutil.ReadAll(res.Body)

    fmt.Println(string(body))
    }
        </code>
    </pre>        
                    </div>
                    <div id="c-2" name="c" class="endpointContent">
    <pre class="xml_formate">
        <code>
    CURL *curl;
    CURLcode res;
    curl = curl_easy_init();
    if(curl) {
    curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
    curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");
    curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
    curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
    struct curl_slist *headers = NULL;
    curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
    res = curl_easy_perform(curl);
    }
    curl_easy_cleanup(curl);
        </code>
    </pre>
                    </div>
                    <div id="swift-2" name="swift" class="endpointContent">
    <pre class="xml_formate">
        <code>
    import Foundation

    var semaphore = DispatchSemaphore (value: 0)

    var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
    request.httpMethod = "GET"

    let task = URLSession.shared.dataTask(with: request) { data, response, error in
    guard let data = data else {
    print(String(describing: error))
    return
    }
    print(String(data: data, encoding: .utf8)!)
    semaphore.signal()
    }

    task.resume()
    semaphore.wait()
        </code>
    </pre>
    </div>
        </div>       

        <div class="child_documentation">
            
            <h3 class="title">Fluctuation Endpoint</h3>            
            <p class="description">This endpoint provides information about how currencies fluctuate on a day to day basis. To use this feature, provide a start_date and end_date as the query parameter and choose which currencies (symbols) you would like to query. The URL for this endpoint https://api.currencyfreaks.com/fluctuation and here is a curl example to use fluctuation endpoint:
            </p>
<pre class="xml_formate" style="overflow-x: visible;">
<code style="overflow-x: visible;">
      $ curl 'https://api.currencyfreaks.com/fluctuation?apikey=YOUR_APIKEY&start_date=2015-10-01&end_date=2015-10-02&symbols=PKR&base=GBP'

    {
        "start_date": "2015-10-01",
        "end_date": "2015-10-02",
        "base": "GBP",
        "rates": {
            "PKR": {
                "start_rate": 158.01844342569163,
                "end_rate": 158.115389272309,
                "change": 0.097,
                "change_per": 0.0614
            }
        }
    }
    </code>
    </pre>              
                <p class="description"><strong>Note: </strong>This feature is available for paid users of the Professional plan only.</p>
                <table class="table">
                    <thead>
                        <tr class="t_r">
                            <th class="t_h">Parameter</th>
                            <th class="t_h">Description</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr class="t_r">
                            <td class="t_d">apikey [required]</td>
                            <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">start_date [required]</td>
                            <td class="t_d">The start date of your preferred time frame.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">end_date [required]	</td>
                            <td class="t_d">The end date of your preferred time frame.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">base [optional]</td>
                            <td class="t_d">the three letter currency code which can set as base currency.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">symbols [optional]</td>
                            <td class="t_d">List of comma-separated currency codes.</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="title">Example Codes for the Fluctuation Endpoint</h3>
                <div class="endPoints">
                    <button class="code_buttons active" onclick="showData(event,'shell-3')">Shell</button>
                    <button class="code_buttons" onclick="showData(event, 'node_js-3')">Node.js</button>
                    <button class="code_buttons" onclick="showData(event,'java-3')">Java</button>
                    <button class="code_buttons" onclick="showData(event,'python-3')">Python</button>
                    <button class="code_buttons" onclick="showData(event,'php-3')">PHP</button>
                    <button class="code_buttons" onclick="showData(event,'ruby-3')">Ruby</button>
                    <button class="code_buttons" onclick="showData(event,'js-3')">JS</button>
                    <button class="code_buttons" onclick="showData(event,'c#-3')">C#</button>
                    <button class="code_buttons" onclick="showData(event,'go-3')">Go</button>
                    <button class="code_buttons" onclick="showData(event,'c-3')">C</button>
                    <button class="code_buttons" onclick="showData(event,'swift-3')">Swift</button>
                </div>
                <div id="shell-3" name="shell" class="endpointContent">
<pre class="xml_formate">
    <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
    </code>
</pre>
                    </div>
                    <div id="node_js-3" name="node_js" class="endpointContent"> 
<pre class="xml_formate">
    <code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR')
    .end(function (res) {
    if (res.error) throw new Error(res.error);
    console.log(res.raw_body);
    });    
    </code>
</pre>
                
                    </div>
                    <div id="java-3" name="java" class="endpointContent">
<pre class="xml_formate">
    <code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")
    .asString();        
    </code>
</pre>
                </div>
                    <div id="python-3" name="python" class="endpointContent">
<pre class="xml_formate">
    <code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
    </code>
</pre>
                        </div>
                
                     <div id="php-3" name="php" class="endpointContent">
<pre class="xml_formate">
    <code>
    setUrl('https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
    'follow_redirects' => TRUE
    ));
    try {
    $response = $request->send();
    if ($response->getStatus() == 200) {
    echo $response->getBody();
    }
    else {
    echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
    $response->getReasonPhrase();
    }
    }
    catch(HTTP_Request2_Exception $e) {
    echo 'Error: ' . $e->getMessage();
    }
    </code>
</pre>        
                    </div> 
                    <div id="ruby-3" name="ruby" class="endpointContent">
<pre class="xml_formate">
    <code>
    require "uri"
    require "net/http"

    url = URI("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")

    https = Net::HTTP.new(url.host, url.port);
    https.use_ssl = true

    request = Net::HTTP::Get.new(url)

    response = https.request(request)
    puts response.read_body    
        </code>
</pre>
                    </div>
                    <div id="js-3" name="js" class="endpointContent">
<pre class="xml_formate">
    <code>
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
    if(this.readyState === 4) {
    console.log(this.responseText);
    }
    });

    xhr.open("GET", "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    xhr.send();
    </code>
</pre>
                    </div>
                    <div id="c#-3" name="c#" class="endpointContent">
<pre class="xml_formate">
    <code>
    var client = new RestClient("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    client.Timeout = -1;

    var request = new RestRequest(Method.GET);

    IRestResponse response = client.Execute(request);

    Console.WriteLine(response.Content);

    </code>
</pre>        
                    </div>
                    <div id="go-3" name="go" class="endpointContent">
<pre class="xml_formate">
    <code>
    package main

    import (
    "fmt"
    "net/http"
    "io/ioutil"
    )

    func main() {

    url := "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR"
    method := "GET"

    client := &http.Client {
    }
    req, err := http.NewRequest(method, url, nil)

    if err != nil {
    fmt.Println(err)
    }
    res, err := client.Do(req)
    defer res.Body.Close()
    body, err := ioutil.ReadAll(res.Body)

    fmt.Println(string(body))
    }
            </code>
        </pre>        
                    </div>
                    <div id="c-3" name="c" class="endpointContent">
<pre class="xml_formate">
    <code>
    CURL *curl;
    CURLcode res;
    curl = curl_easy_init();
    if(curl) {
    curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
    curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");
    curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
    curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
    struct curl_slist *headers = NULL;
    curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
    res = curl_easy_perform(curl);
    }
    curl_easy_cleanup(curl);
    </code>
</pre>
                    </div>
                    <div id="swift-3" name="swift" class="endpointContent">
<pre class="xml_formate">
    <code>
    import Foundation

    var semaphore = DispatchSemaphore (value: 0)

    var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
    request.httpMethod = "GET"

    let task = URLSession.shared.dataTask(with: request) { data, response, error in
    guard let data = data else {
    print(String(describing: error))
    return
    }
    print(String(data: data, encoding: .utf8)!)
    semaphore.signal()
    }

    task.resume()
    semaphore.wait()
    </code>
</pre>
        </div>
            </div>

        <div class="child_documentation">            
            <h3 class="title">Historical Currency Rates Conversion</h3>            
            <p class="description">This endpoint can be used to convert amount according to past currency rates. 
                In order to convert historical currencies rates, use the API's historical conversion endpoint,
                add date & append the from and to currency symbols as query parameters. The URL for this endpoint
                https://api.currencyfreaks.com/convert and here is a curl example to use historical 
                rates conversion endpoint:
            </p>
<pre class="xml_formate" style="overflow-x: visible;">
    <code>
   $ curl 'https://api.currencyfreaks.com/convert/2020-01-06/?apikey=YOUR_APIKEY&from=USD&to=PKR&amount=500'
    </code>
</pre>              
                <p class="description"><strong>Note: </strong>This feature is available for paid users starting from Growth plans only.</p>
                <table class="table">
                    <thead>
                        <tr class="t_r">
                            <th class="t_h">Parameter</th>
                            <th class="t_h">Description</th>
                        </tr>                    
                    </thead>
                    <tbody>
                        <tr class="t_r">
                            <td class="t_d">apikey [required]</td>
                            <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">YYYY-MM-DD [required]</td>
                            <td class="t_d">A date in the past for which historical rates are requested.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">from [required]</td>
                            <td class="t_d">The three-letter currency code of the currency you would like to convert from.</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">to [required]</td>
                            <td class="t_d">The three-letter currency code of the currency you would like to convert to</td>
                        </tr>
                        <tr class="t_r">
                            <td class="t_d">amount [required]</td>
                            <td class="t_d">The amount to be converted.</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="title">Example Codes for the Historical Currency Conversion</h3>
                <div class="endPoints">
                    <button class="code_buttons active" onclick="showData(event,'shell-4')">Shell</button>
                    <button class="code_buttons" onclick="showData(event, 'node_js-4')">Node.js</button>
                    <button class="code_buttons" onclick="showData(event,'java-4')">Java</button>
                    <button class="code_buttons" onclick="showData(event,'python-4')">Python</button>
                    <button class="code_buttons" onclick="showData(event,'php-4')">PHP</button>
                    <button class="code_buttons" onclick="showData(event,'ruby-4')">Ruby</button>
                    <button class="code_buttons" onclick="showData(event,'js-4')">JS</button>
                    <button class="code_buttons" onclick="showData(event,'c#-4')">C#</button>
                    <button class="code_buttons" onclick="showData(event,'go-4')">Go</button>
                    <button class="code_buttons" onclick="showData(event,'c-4')">C</button>
                    <button class="code_buttons" onclick="showData(event,'swift-4')">Swift</button>
                </div>
                <div id="shell-4" name="shell" class="endpointContent">
<pre class="xml_formate">
    <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
    </code>
</pre>
                    </div>
                    <div id="node_js-4" name="node_js" class="endpointContent"> 
<pre class="xml_formate">
    <code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR')
    .end(function (res) {
    if (res.error) throw new Error(res.error);
    console.log(res.raw_body);
    });    
    </code>
</pre>
                
                    </div>
                    <div id="java-4" name="java" class="endpointContent">
<pre class="xml_formate">
    <code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")
    .asString();        
    </code>
</pre>
        </div>
                    <div id="python-4" name="python" class="endpointContent">
<pre class="xml_formate">
    <code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
    </code>
</pre>
                        </div>
                
                     <div id="php-4" name="php" class="endpointContent">
<pre class="xml_formate">
    <code>
    setUrl('https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
    'follow_redirects' => TRUE
    ));
    try {
    $response = $request->send();
    if ($response->getStatus() == 200) {
    echo $response->getBody();
    }
    else {
    echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
    $response->getReasonPhrase();
    }
    }
    catch(HTTP_Request2_Exception $e) {
    echo 'Error: ' . $e->getMessage();
    }
    </code>
</pre>        
                    </div> 
                    <div id="ruby-4" name="ruby" class="endpointContent">
<pre class="xml_formate">
    <code>
    require "uri"
    require "net/http"

    url = URI("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")

    https = Net::HTTP.new(url.host, url.port);
    https.use_ssl = true

    request = Net::HTTP::Get.new(url)

    response = https.request(request)
    puts response.read_body    
    </code>
</pre>
                    </div>
                    <div id="js-4" name="js" class="endpointContent">
<pre class="xml_formate">
    <code>
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
    if(this.readyState === 4) {
    console.log(this.responseText);
    }
    });

    xhr.open("GET", "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    xhr.send();
    </code>
</pre>
                    </div>
                    <div id="c#-4" name="c#" class="endpointContent">
<pre class="xml_formate">
    <code>
    var client = new RestClient("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    client.Timeout = -1;

    var request = new RestRequest(Method.GET);

    IRestResponse response = client.Execute(request);

    Console.WriteLine(response.Content);

    </code>
</pre>        
                    </div>
                    <div id="go-4" name="go" class="endpointContent">
<pre class="xml_formate">
    <code>
    package main

    import (
    "fmt"
    "net/http"
    "io/ioutil"
    )

    func main() {

    url := "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR"
    method := "GET"

    client := &http.Client {
    }
    req, err := http.NewRequest(method, url, nil)

    if err != nil {
    fmt.Println(err)
    }
    res, err := client.Do(req)
    defer res.Body.Close()
    body, err := ioutil.ReadAll(res.Body)

    fmt.Println(string(body))
    }
    </code>
</pre>        
                    </div>
                    <div id="c-4" name="c" class="endpointContent">
<pre class="xml_formate">
    <code>
    CURL *curl;
    CURLcode res;
    curl = curl_easy_init();
    if(curl) {
    curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
    curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");
    curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
    curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
    struct curl_slist *headers = NULL;
    curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
    res = curl_easy_perform(curl);
    }
    curl_easy_cleanup(curl);
    </code>
</pre>
                    </div>
                    <div id="swift-4" name="swift" class="endpointContent">
<pre class="xml_formate">
    <code>
    import Foundation

    var semaphore = DispatchSemaphore (value: 0)

    var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
    request.httpMethod = "GET"

    let task = URLSession.shared.dataTask(with: request) { data, response, error in
    guard let data = data else {
    print(String(describing: error))
    return
    }
    print(String(data: data, encoding: .utf8)!)
    semaphore.signal()
    }

    task.resume()
    semaphore.wait()
    </code>
</pre>
        </div>
        </div>
        <div class="child_documentation">
            <h3 class="title">IP To Currency Conversion Endpoint</h3>
            <p class="description">This endpoint provides you the local currency exchange rates by IP address location or client (visitor) location. Both of IPv4 and IPv6 addresses are supported. The URL for this endpoint https://api.currencyfreaks.com/iptocurrency and here is a curl example to use IP to currency endpoint:</p>
<pre class="xml_formate" style="overflow-x: visible;">
<code>
      $ curl 'https://api.currencyfreaks.com/iptocurrency?apikey=YOUR_APIKEY?&from=GBP&ip=182.186.18.91&amount=500'

    {
    "date": "2020-07-02 15:15:00+00",
    "current_rates": {
        "GBP": 1,
        "PKR": 208.027
    },
    "converted_amount": 104013.4613,
    "query": {
        "given_amount": 500.0,
        "from": "GBP",
        "to": "PKR"
    }
    }
</code>
</pre>
            <table class="table">
                <thead>
                    <tr class="t_r">
                        <th class="t_h">Parameter</th>
                        <th class="t_h">Description</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr class="t_r">
                        <td class="t_d">apikey [required]</td>
                        <td class="t_d">A unique key assigned to each API account used to authenticate with the API.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">from [required]</td>
                        <td class="t_d">The three-letter currency code of the currency you would like to convert from.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">ip [optional]</td>
                        <td class="t_d">An IPv4 or IPv6 IP address, conversion will be according to country location of
                             provided IP address. If IP is not provided, the client IP address will be used.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">amount [required]</td>
                        <td class="t_d">The amount to be converted.</td>
                    </tr>
                </tbody>
            </table>
            <p class="description"><stronge>Note:</stronge> This endpoint is available for paid users starting from Growth plans only.</p>
            <h3 class="title">Example Codes for the IP To Currency Endpoint</h3>
            <div class="endPoints">
                <button class="code_buttons active" onclick="showData(event,'shell-5')">Shell</button>
                <button class="code_buttons" onclick="showData(event, 'node_js-5')">Node.js</button>
                <button class="code_buttons" onclick="showData(event,'java-5')">Java</button>
                <button class="code_buttons" onclick="showData(event,'python-5')">Python</button>
                <button class="code_buttons" onclick="showData(event,'php-5')">PHP</button>
                <button class="code_buttons" onclick="showData(event,'ruby-5')">Ruby</button>
                <button class="code_buttons" onclick="showData(event,'js-5')">JS</button>
                <button class="code_buttons" onclick="showData(event,'c#-5')">C#</button>
                <button class="code_buttons" onclick="showData(event,'go-5')">Go</button>
                <button class="code_buttons" onclick="showData(event,'c-5')">C</button>
                <button class="code_buttons" onclick="showData(event,'swift-5')">Swift</button>
            </div>
        <div id="shell-5" name="shell" class="endpointContent">
<pre class="xml_formate">
    <code>
    $ curl --location --request GET 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR'    
    </code>
</pre>
            </div>
            <div id="node_js-5" name="node_js" class="endpointContent"> 
<pre class="xml_formate">
    <code>
    var unirest = require('unirest');
    var req = unirest('GET', 'https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR')
    .end(function (res) {
    if (res.error) throw new Error(res.error);
    console.log(res.raw_body);
    });    
    </code>
</pre>
        
            </div>
            <div id="java-5" name="java" class="endpointContent">
<pre class="xml_formate">
    <code>
    Unirest.setTimeouts(0, 0);
    HttpResponse<String> response = Unirest.get("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")
    .asString();        
    </code>
</pre>
        </div>
            <div id="python-5" name="python" class="endpointContent">
<pre class="xml_formate">
    <code>
    import http.client
    import mimetypes
    conn = http.client.HTTPSConnection("api.currencyfreaks.com")
    payload = ''
    headers = {}
    conn.request("GET", "/latest?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR", payload, headers)
    res = conn.getresponse()
    data = res.read()
    print(data.decode("utf-8"))
    </code>
</pre>
                </div>
        
                <div id="php-5" name="php" class="endpointContent">
<pre class="xml_formate">
    <code>
    setUrl('https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR');
    $request->setMethod(HTTP_Request2::METHOD_GET);
    $request->setConfig(array(
    'follow_redirects' => TRUE
    ));
    try {
    $response = $request->send();
    if ($response->getStatus() == 200) {
    echo $response->getBody();
    }
    else {
    echo 'Unexpected HTTP status: ' . $response->getStatus() . ' ' .
    $response->getReasonPhrase();
    }
    }
    catch(HTTP_Request2_Exception $e) {
    echo 'Error: ' . $e->getMessage();
    }
    </code>
</pre>        
            </div> 
            <div id="ruby-5" name="ruby" class="endpointContent">
<pre class="xml_formate">
    <code>
    require "uri"
    require "net/http"

    url = URI("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")

    https = Net::HTTP.new(url.host, url.port);
    https.use_ssl = true

    request = Net::HTTP::Get.new(url)

    response = https.request(request)
    puts response.read_body    
    </code>
</pre>
            </div>
            <div id="js-5" name="js" class="endpointContent">
<pre class="xml_formate">
    <code>
    var xhr = new XMLHttpRequest();
    xhr.withCredentials = true;

    xhr.addEventListener("readystatechange", function() {
    if(this.readyState === 4) {
    console.log(this.responseText);
    }
    });

    xhr.open("GET", "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    xhr.send();
    </code>
</pre>
            </div>
            <div id="c#-5" name="c#" class="endpointContent">
<pre class="xml_formate">
    <code>
    var client = new RestClient("https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");

    client.Timeout = -1;

    var request = new RestRequest(Method.GET);

    IRestResponse response = client.Execute(request);

    Console.WriteLine(response.Content);

    </code>
</pre>        
            </div>
            <div id="go-5" name="go" class="endpointContent">
<pre class="xml_formate">
    <code>
    package main

    import (
    "fmt"
    "net/http"
    "io/ioutil"
    )

    func main() {

    url := "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR"
    method := "GET"

    client := &http.Client {
    }
    req, err := http.NewRequest(method, url, nil)

    if err != nil {
    fmt.Println(err)
    }
    res, err := client.Do(req)
    defer res.Body.Close()
    body, err := ioutil.ReadAll(res.Body)

    fmt.Println(string(body))
    }
    </code>
</pre>        
            </div>
            <div id="c-5" name="c" class="endpointContent">
<pre class="xml_formate">
    <code>
    CURL *curl;
    CURLcode res;
    curl = curl_easy_init();
    if(curl) {
    curl_easy_setopt(curl, CURLOPT_CUSTOMREQUEST, "GET");
    curl_easy_setopt(curl, CURLOPT_URL, "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR");
    curl_easy_setopt(curl, CURLOPT_FOLLOWLOCATION, 1L);
    curl_easy_setopt(curl, CURLOPT_DEFAULT_PROTOCOL, "https");
    struct curl_slist *headers = NULL;
    curl_easy_setopt(curl, CURLOPT_HTTPHEADER, headers);
    res = curl_easy_perform(curl);
    }
    curl_easy_cleanup(curl);
    </code>
</pre>
            </div>
            <div id="swift-5" name="swift" class="endpointContent">
<pre class="xml_formate">
    <code>
    import Foundation

    var semaphore = DispatchSemaphore (value: 0)

    var request = URLRequest(url: URL(string: "https://api.currencyfreaks.com/latest
    ?apikey=YOUR_APIKEY
    &base=GBP
    &symbols=EUR,USD,PKR,INR")!,timeoutInterval: Double.infinity)
    request.httpMethod = "GET"

    let task = URLSession.shared.dataTask(with: request) { data, response, error in
    guard let data = data else {
    print(String(describing: error))
    return
    }
    print(String(data: data, encoding: .utf8)!)
    semaphore.signal()
    }

    task.resume()
    semaphore.wait()
    </code>
</pre>
</div>
        </div>
        <div class="child_documentation" id="errorCodes">
            <h3 class="title">HTTP Error Codes</h3>
            <p class="description">CurrencyFreaks API returns 200 HTTP status in case of a successful request.</p>
            <p class="description">While, in case of an illegal request, CurrencyFreaks API returns 4xx HTTP code 
                alongs with a descriptive message as why the error occured.</p>
            <p class="description">Here is the description of why a specific HTTP code is returned:</p>

            <table class="table">
                <thead>
                    <tr class="t_r">
                        <th class="t_h">HTTP code</th>
                        <th class="t_h">Description</th>
                    </tr>                    
                </thead>
                <tbody>
                    <tr class="t_r">
                        <td class="t_d">401</td>
                        <td class="t_d">When did not provided API key parameter with the request.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">400</td>
                        <td class="t_d">When did not provided an APIkey parameter's value with the request.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">412</td>
                        <td class="t_d">When exceeded the requests limit of apikey.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">406</td>
                        <td class="t_d">When provided API key is inactive.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">404</td>
                        <td class="t_d">When provided API key is invalid.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">414</td>
                        <td class="t_d">When you call an endpoint which is not available in your subscription.</td>
                    </tr>
                    <tr class="t_r">
                        <td class="t_d">423</td>
                        <td class="t_d">Throws on IP to currency endpoint only when provided IP address is private or bogon.</td>
                    </tr>
                </tbody>
            </table>
        </div>                        
    </div>
</div>