title=
date=
type=masterindex
status=published
~~~~~~
<div class="main_page commonClass">
    <div id="main">
       <div class="introduction text_section">
          <div class="inner_text_area">
             <h2>Free Currency Conversion and Forex Exchange Rate API</h2>
             <p>CurrencyFreaks API provides currency conversion, current and 
                historical forex exchange rate and currency fluctuation data 
                through REST API in json and xml formats compatible.
             </p>
             <a href="signup.html" class="signUpLink">SignUp</a>
          </div>
       </div>
       <div class="introduction sample_code">
          <div class="code_container">
             <pre>
 <code>
     GET 
   https://api.currencyfreaks.com/latest
     {
     "base": USD,
     "date": "2020-09-18",
     "rates": { 
     "CAD": 1.260046,
     "CHF": 0.933058,
     "EUR": 0.806942,
     "GBP": 0.719154,
     :[179 world currencies]
     _ }
     }
 </code>
     </pre>
          </div>
       </div>
    </div>
 </div>
 <div class="features">
    <div class="f_heading">
       <h1>Features</h1>
    </div>
    <div class="child_f">
       <div class="child_f_left">
          <h3 class="title">179 World Currencies</h3>
          <p>We provide real time exchange rate data for 179 currencies updated in every minute.</p>
       </div>
       <div class="child_f_left">
          <h3 class="title">Security</h3>
          <p>We take security seriously that is why every request to our server is SSL encrypted even in our free plan.</p>
       </div>
       <div class="child_f_left">
          <h3 class="title">Interactive Support</h3>
          <p>Got a question or need any technical help in integration? Just let 
             us know through our contact us form. We’ll get back to you instantly.
          </p>
       </div>
    </div>
    <div class="child_f">
       <div class="child_f_right">
          <h3 class="title">Trusted Data</h3>
          <p>Our API uses trusted forex exchanges and banks for the currency data.</p>
       </div>
       <div class="child_f_right">
          <h3 class="title">Speed</h3>
          <p>Speed matters a lot to us that is why we’ve built our API to provide you the required data in blink of an eye.</p>
       </div>
       <div class="child_f_right">
          <h3 class="title">Documentation</h3>
          <p>Our detailed documentation walks you through our API features without any hassle.</p>
       </div>
    </div>
 </div>
 <div class="uses">
    <div class="uses_title">
       <h2>Uses</h2>
    </div>
    <div class="uses_content">
       <div class="hero_container her0-left">
          <div class="inner inner_left">
             <h3 class="title">Location Aware Exchange Rate</h3>
             <p class="description">Providing currency data to your users has never been easier and quicker. 
                Detect your users' location from their IP address and show them the right price in their 
                currency for a better user experience.
             </p>
          </div>
       </div>
       <div class="hero_container her0-right">
          <div class="inner inner_right">
             <h3 class="title">Currency Localization</h3>
             <p class="description">Increase your sales and conversions by focusing on your international buyers. 
                Make online buying a smooth experience by helping your customers shop in their local currency.
             </p>
          </div>
       </div>
    </div>
 </div>
 <div class="currency_rates">
    <h2>Get Started with Best Currency Rates API Today</h2>
    <a href="signup.html" class="signUpLink currency_link">Sign Up here</a>
 </div>
