title=
date=
type=page
status=published
~~~~~~
<div class="pricing commonClass">
    <div>
        <h1 class="top_header">Pricing</h1>
    </div>
    <div class="switch_container">
        <div class="switch">            
            <input type="checkbox" onclick="changeValues(this)" class="checkbox_input">
            <label for="checkbox_input"></label>
        </div>
    </div>
    <p class="small_paragraph">Save <span style="color: teal; font-weight: bold;">big</span> by paying annually!<img src="./img/finger-pointing.png"></p>
    <div class="main_pricing_content">
        <div class="child_pricing">
            <ul class="pricing_list">
                <li class="prcing_list_title"><span class="p_title_span">Developer</span></li>
                <li class="amountPerMonth"><span class="amount">Free</span> <span class="perMonthorYear">/Month</span></li>
                <li id="developer">1000 API Calls/Month</li>
                <li>12 Hour Updates</li>
                <li>USD As Base Currency</li>
                <li>Limited Support</li>
                <li>SSL Encryption</li>
                <li class="signupLI"><a href="signup.html" class="pLink">Sign Up For Free</a></li>
            </ul>
        </div>
        <div class="child_pricing">
            <ul class="pricing_list">
                <li class="prcing_list_title"><span class="p_title_span">Starter</span></li>
                <li class="amountPerMonth"><span class="amount" id="starter">US$9.99</span> <span class="perMonthorYear">/Month</span></li>
                <li id="starterLi">15K API Calls/Month</li>        
                <li>Hourly Updates</li>                
                <li>Historical Exchange Rates</li>
                <li>All Base Currencies</li>
                <li>Live Rates Conversion</li>
                <li>Historical Rates Conversion</li>
                <li>Basic Support</li>
                <li>SSL Encryption</li>
                <li class="signupLI"><a href="signup.html" class="pLink">Sign Up For Free</a></li>                
            </ul>
        </div>
        <div class="child_pricing">
            <ul class="pricing_list">
                <li class="prcing_list_title"><span class="p_title_span">Growth</span></li>
                <li class="amountPerMonth"><span class="amount" id="growth">US$49.99</span> <span class="perMonthorYear">/Month</span></li>
                <li id="growthLI">150K API Calls/Month</li>
                <li>10 Minute Updates</li>
                <li>Historical Exchange Rates</li>
                <li>All Base Currencies</li>
                <li>Live Rates Conversion</li>
                <li>Historical Rates Conversion</li>
                <li>IP To Currency Endpoint</li>
                <li>Premium Support</li>
                <li>SSL Encryption</li>
                <li class="signupLI"><a href="signup.html" class="pLink">Sign Up For Free</a></li>
            </ul>
        </div>
        <div class="child_pricing">
            <ul class="pricing_list">
                <li class="prcing_list_title"><span class="p_title_span">Professional</span></li>
                <li class="amountPerMonth"><span class="amount" id="professional">US$99.99</span><span class="perMonthorYear">/Month</span></li>
                <li id="professionalLi">550K API Calls/Month</li>
                <li>60 Second Updates</li>
                <li>Historical Exchange Rates</li>
                <li>All Base Currencies</li>
                <li>Live Rates Conversion</li>
                <li>Historical Rates Conversion</li>
                <li>IP To Currency Endpoint</li>
                <li>Time Series Endpoint</li>
                <li>Fluctuation Endpoint</li> 
                <li>Premium Support</li>
                <li>SSL Encryption</li>
                <li class="signupLI"><a href="signup.html" class="pLink">Sign Up For Free</a></li>                
            </ul>
        </div>
        <div class="child_pricing">
            <ul class="pricing_list">
                <li class="prcing_list_title"><span class="p_title_span">Enterprise</span></li>
                <li class="amountPerMonth enterprise_link signupLI"><a href="#" class="pLink">Contact Us</a></li>
                <li>Volume API Calls/Month</li>
                <li>60 Second Updates</li>
                <li>Historical Exchange Rates</li>
                <li>All Base Currencies</li>
                <li>Live Rates Conversion</li>
                <li>Historical Rates Conversion</li>
                <li>IP To Currency Endpoint</li>
                <li>Time Series Endpoint</li>
                <li>Fluctuation Endpoint</li>
                <li>Premium Support</li>
                <li>SSL Encryption</li>
                <li>Custom Solutions</li>
                <li class="signupLI"><a href="signup.html" class="pLink">Contact Us</a></li>
            </ul>
        </div>

    </div>
</div>

<div class="enterPrise_bottom">
    <h3 class="tryourservice">Try Our Service For Free</h3>
    <p class="description">You will get 1000 requests per month
        for free to use our API for non-commercial use or to test things out.</p>
    <a class="pLink free_plan">Sign Up For Free Plan</a>
</div>