title=
date=
type=page
status=published
~~~~~~

<div class="main_signUp_container commonClass">
    <div class="main_content">
        <div class="upper_area">
            <h3 class="title">Sign Up</h3>
            <p class="description">Simple setup. No credit card required.</p>          
            <button class="googleBtn"><span><i class="fab fa-google"></i></span><span>Sign in with Google</span></button>  
            <button class="githubBtn"><span><i class="fab fa-github"></i></span><span>Sign in with Github</span></button>
        </div>
        <div class="lower_area">
          <form action="">
            <div class="form_elements">
                <label for="">First Name</label>
                <input type="text" name="fname" placeholder="e.g Charles">
            </div>
            <div class="form_elements">
                <label for="">Last Name</label>
                <input type="text" name="lname" placeholder="Babbage">
            </div>
            <div class="form_elements">
                <label for="">Email</label>
                <input type="email" placeholder="e.g abc@example.com">
            </div>
            <div class="form_elements">
                <label for="">Password</label>
                <input type="password" placeholder="&#9679;&#9679;&#9679;&#9679;">
            </div>                   
            <div class="form_elements">
                <input type="submit" class="submitBtn">
            </div>
          </form>            
        </div>
    </div>
</div>