date=
type=page
status=published
~~~~~~
<div class="sitemap commonClass">
    <div class="child_sitemap">        
        <ul>
            <h4 class="sitemaptitles">General</h4>
            <li><a href="about.html">About Us</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="contact.html">Contact Us</a></li>
        </ul>
    </div>
    <div class="child_sitemap">        
        <ul>
            <h4 class="sitemaptitles">Documentation</h4>
            <li><a href="documentation.html">API Documentation</a></li>
            <li><a href="supportedCurrency.html">Supported Currency</a></li>
            <li><a href="#">FAQs</a></li>
        </ul>
    </div>
    <div class="child_sitemap">        
        <ul>
            <h4 class="sitemaptitles">Tools</h4>
            <li><a href="#">Currency Converter</a></li>
            <li><a href="#">Live Exchange Rates</a></li>
            <li><a href="#">Historical Currency Converter</a></li>
            <li><a href="#">Historical Exchange Rates</a></li>
        </ul>
    </div>
    <div class="child_sitemap">        
        <ul>
            <h4 class="sitemaptitles">Accounts and Legal</h4>
            <li><a href="#">Sign In</a></li>
            <li><a href="signup.html">Sign Up</a></li>
            <li><a href="terms.html">Terms</a></li>
            <li><a href="privacy.html">Privacy</a></li>
        </ul>
    </div>
</div>