title=
date=
type=page
status=published
~~~~~~
<div class="supported_currency commonClass">
    <h1 class="top_header">Supported currencies</h1>    
    <div class="child_table">
        <h3 class="title">Fiat Currencies</h3>
        <table class="table supported_currency_table">
            <thead>
                <tr class="t_r">
                    <th>Icon</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>                
            </thead>
            <tbody>
                <tr class="t_r">
                    <td class="t_d"><img src="img/aed.png"></td>
                    <td class="t_d">AED</td>
                    <td class="t_d">United Arab Emirates Dirham</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/afn.png"></td>
                    <td class="t_d">AFN</td>
                    <td class="t_d">Afganistan Afghani</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/all.png"></td>
                    <td class="t_d">ALL</td>
                    <td class="t_d">Albanian Lek</td>
                </tr>
            </tbody>
        </table>
    </div>    
    <div class="child_table">
        <h3 class="title">Cryptocurrencies</h3>
        <table class="table supported_currency_table">
            <thead>
                <tr class="t_r">
                    <th>Icon</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>                
            </thead>
            <tbody>
                <tr class="t_r">
                    <td class="t_d"><img src="img/btc.png"></td>
                    <td class="t_d">BTC</td>
                    <td class="t_d">Bitcoin</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/bch.png"></td>
                    <td class="t_d">BCH</td>
                    <td class="t_d">Bitcoin Cash</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/etc.png"></td>
                    <td class="t_d">ETC</td>
                    <td class="t_d">Ethereum Classic</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="child_table">
        <h3 class="title">Precious Metal Currencies</h3>
        <table class="table supported_currency_table">
            <thead>
                <tr class="t_r">
                    <th>Icon</th>
                    <th>Code</th>
                    <th>Name</th>
                </tr>                
            </thead>
            <tbody>
                <tr class="t_r">
                    <td class="t_d"><img src="img/xag.png"></td>
                    <td class="t_d">XAG</td>
                    <td class="t_d">Silver(Troy ounce)</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/xau.png"></td>
                    <td class="t_d">XAU</td>
                    <td class="t_d">Gold(Troy Ounce)</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/xpd.png"></td>
                    <td class="t_d">XPD</td>
                    <td class="t_d">Palladium</td>
                </tr>
                <tr class="t_r">
                    <td class="t_d"><img src="img/xpt.png"></td>
                    <td class="t_d">XPT</td>
                    <td class="t_d">Platinium</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>