title=
date=
type=page
status=published
~~~~~~
<div class="main_terms_container commonClass">
    <div>
        <h1 class="top_header">Terms of Service Agreement</h1>
    </div>
  <div class="termsOfservice">
    <div class="child_terms">
        <h2 class="title">Overview</h3>
        <p class="description">
            All use of the website, information, services, and content 
            distributed through or in conjunction with or made available 
            on the website is offered to you subject to your acceptance of 
            these Terms of Service and our Privacy Policy. By purchasing any 
            goods or services from this website, you are furthermore bound 
            by this site's Service Agreement. The following terms and conditions 
            incorporate a legal agreement between you (“You”) and (“CurrencyFreaks”) 
            and set forth the terms and conditions by which CurrencyFreaks will make 
            the CurrencyFreaks API service available in order to electronically provide 
            You with use of and access to CurrencyFreaks Data & Services.
        </p>
    </div>
    <div class="child_terms">
        <h3 class="title">CurrencyFreaks API Services</h3>
        <p class="description">For the purposes of this Agreement, “CurrencyFreaks API Services” shall consist of:</p>
        <ul>
            <li>all currency data and information feeds, media, software, 
                and/or electronic documentation made available or supplied 
                by CurrencyFreaks or its licensees</li>
            <li>and certain other software, data, and/or documents supplied by CurrencyFreaks or its 
                licensees to facilitate use of such data or services. “CurrencyFreaks API Data and 
                Services” means CurrencyFreaks’s service or application programming interface that 
                allows You and other authorised licensees to access CurrencyFreaks API Data & Services 
                and make use of CurrencyFreaks API Services. This Agreement includes all amendments, 
                addendums, and revisions to the terms herein in effect between You and CurrencyFreaks from time to time.
            </li>
        </ul>
    </div>
    <div class="child_terms">
        <h3 class="title">Acknowledgement</h3>
        <p class="description">By accessing or otherwise using the CurrencyFreaks API, You acknowledge that You:</p>
        <ul>
            <li>have read all of the terms and conditions of this Agreement;</li>
            <li>agree to be bound by the terms and conditions of this Agreement;</li>
            <li>agree to check the CurrencyFreaks API pages from time to time for any updates or amendments 
                to the terms and conditions of this Agreement; and,</li>
            <li>have the power and authority to enter into this Agreement.</li>
            <li>If You do not acknowledge the above, You may not access or use the CurrencyFreaks API. 
                If You are dissatisfied with the terms, conditions, rules, policies, guidelines, or practices of CurrencyFreaks, 
                Your sole and exclusive remedy is to discontinue accessing or otherwise using the CurrencyFreaks API.</li>
        </ul>
    </div>
    <div class="child_terms">
        <h2 class="title">Scope of License</h2>
        <h3 class="title">Grant of License</h3>
        <p class="description">CurrencyFreaks hereby grants to You a non-transferable, non-exclusive, revocable, 
            and limited license for the term of this Agreement to access the CurrencyFreaks API and use CurrencyFreaks
             API Data & Services strictly for the limited purposes, and under the terms and conditions, as are set 
             forth in this Agreement.</p>
        <h3 class="title">Scope of the CurrencyFreaks API License</h3>
        <p class="description">Subject to Your compliance with the terms of this Agreement, You are hereby permitted to receive,
             process, and display CurrencyFreaks API Data & Services to individual end-users of your application(s), provided</p>
        <ul>
            <li>such end users use CurrencyFreaks API Data & Services strictly for their own personal use,</li>
            <li>You do not permit Your end users to store, distribute, or otherwise exploit CurrencyFreaks 
                API Data & Services for any other purposes.
            </li>
        </ul>
        <p class="description">For clarity, and without limiting the foregoing, You are permitted solely to use CurrencyFreaks 
            API Data & Services for reference by Your end-users. Except as expressly provided herein, under no circumstances 
            whatsoever may You transfer or permit the transfer of CurrencyFreaks API Data & Services outside of your 
            application(s).</p>
    </div>
    <div class="child_terms">
        <h2 class="title">Use of License</h2>
        <h3 class="title">Restrictions</h3>
        <p class="description">You shall not:</p>
        <ul>
            <li>reproduce, copy, modify, distribute, market, display, transfer, sublicense, assign, prepare derivative work(s) or 
                adaptation(s) based on, sell, exchange, barter or transfer, rent, lease, loan, time-share, resell, or in any other 
                manner exploit CurrencyFreaks API Data & Services or the 
                CurrencyFreaks API;</li>
            <li>make access to CurrencyFreaks API Data & Services or the CurrencyFreaks API available to unauthorised parties, 
                or otherwise post or distribute CurrencyFreaks API Data & Services in any public forum including, but not 
                limited to, print, newsletters, radio, television, or internet;</li>
            <li>remove, obscure, or alter any required notice or any notice of CurrencyFreaks’s intellectual property rights present on or in the CurrencyFreaks API, including, but not limited to, copyright, trademark, and/or patent notices;</li>
            <li>disassemble, translate, reverse engineer or otherwise decompile CurrencyFreaks API Data & Services or the CurrencyFreaks API;</li>
            <li>knowingly cause or permit anything that will impair, jeopardise, violate, or infringe the intellectual property rights of CurrencyFreaks in CurrencyFreaks API Data & Services or the CurrencyFreaks API;</li>
            <li>directly or indirectly dispute or contest the ownership, validity, or enforceability of the intellectual property rights of CurrencyFreaks in CurrencyFreaks API Data & Services or the CurrencyFreaks API, or assist any party to do so;</li>
            <li>through Your use of CurrencyFreaks API Data & Services or the CurrencyFreaks API, knowingly cause or permit anything that You know or ought to know will prejudice or hamper the reputation or goodwill of CurrencyFreaks;</li>
            <li>claim, use, or apply to register, record, or file any trade mark, trade name, copyright, or design that is identical or confusingly similar to CurrencyFreaks’s trademarks, or assist any other party to do so;</li>
            <li>use, store, or access any CurrencyFreaks API Data & Services, or the CurrencyFreaks API after the termination of this Agreement;</li>
            <li>use or permit others to use, market, distribute, or export CurrencyFreaks API Data & Services, or the CurrencyFreaks API; or,</li>
            <li>use CurrencyFreaks API Data & Services or the CurrencyFreaks API in any manner or for any purpose that violates any law, regulation or right of any person.</li>
        </ul>
    </div>
    <div class="child_terms">
        <h3 class="title">Attribution</h3>
        <p class="description">While usage of the CurrencyFreaks API is not subject to Your end-users being made aware by You that CurrencyFreaks is supplying the functionality you are making use of in your application(s), Your inclusion of a clickable hyperlink to the CurrencyFreaks API website at www.CurrencyFreaks.com would be highly appreciated.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Your Responsibility to Safeguard</h3>
        <p class="description">You shall use Your best efforts and take all necessary steps to safeguard CurrencyFreaks API Data & Services to ensure that no unauthorized reproduction, publication, disclosure, modification, distribution, or other use of any CurrencyFreaks API Data & Services is made in whole or in part. To the extent that You become aware of any such unauthorized use of CurrencyFreaks API Data & Services, You shall immediately notify CurrencyFreaks by emailing “support@currencyfreaks.com”.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Misuse of the Licensed Product</h3>
        <p class="description">In the event that You or any end users use CurrencyFreaks API Data & Services or the CurrencyFreaks API in violation of this Agreement, as applicable, CurrencyFreaks shall have the option of electing liquidated damages.</p>
    </div>
    <div class="child_terms">
        <h2 class="title">Services and Data</h2>
        <h3 class="title">Use of the CurrencyFreaks API</h3>
        <p class="description">Subject to the terms herein, CurrencyFreaks will provide You with access to CurrencyFreaks API Data & Services over the Internet through the CurrencyFreaks API. All calls to the CurrencyFreaks API must reference the credentials issued to You by CurrencyFreaks. You may not disclose Your credentials to any other party. You are solely responsible for ensuring the secrecy and security of Your credentials and will be responsible for all activities that occur using such credentials.
<br><br>
            You shall not use the CurrencyFreaks API in a manner that exceeds reasonable request volume or constitutes excessive or abusive usage.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Usage Limits:</h3>
        <p class="description">The extent of Your usage of the CurrencyFreaks API is dependent on Your subscription plan. <br><br>
            You shall not exceed the usage limits associated with Your account.<br><br>
            Unused amounts of call usage will not be carried over from one monthly period to the next.<br><br>
            If You exceed Your monthly usage limit, the CurrencyFreaks API will return an error message stating that Your monthly usage limit has been reached and no further API calls can be made within the current monthly term. It is Your sole responsibility to ensure that your application(s) properly detect and handle any returned error messages. CurrencyFreaks will make reasonable efforts to help You identify and resolve usage problems or to review the suitability of Your current subscription plan for Your needs. CurrencyFreaks reserves the right to limit or throttle the number of network calls available to Your application(s) if CurrencyFreaks (in its sole discretion) believes that such calls are being made for malicious reasons, or as the result of a technical error.
        </p>
    </div>
    <div class="child_terms">
        <h3 class="title">Responsibility for Software and Hardware</h3>
        <p class="description">You shall be solely responsible for acquiring, providing, and maintaining all software/hardware and Internet Services required to access the CurrencyFreaks API, including but not limited to telecommunication and internet connections, ISP, web browsers, and/or other equipment and software required to access and use the CurrencyFreaks API.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Services May Be Inaccessible Or Inoperable</h3>
        <p class="description">You hereby acknowledge that from time to time, the CurrencyFreaks API may be inaccessible or 
            inoperable for any reason, including, without limitation:</p>
        <ul>
            <li>equipment (hardware) malfunctions; software malfunctions;</li>
            <li>periodic maintenance procedures or repairs which CurrencyFreaks may undertake from time to time; and/or,</li>
            <li>causes beyond the reasonable control of CurrencyFreaks and/or not reasonably foreseeable by CurrencyFreaks.</li>
        </ul>
    </div>
    <div class="child_terms">
        <h3 class="title">Service Level Agreement</h3>
        <p class="description">If the CurrencyFreaks API is unavailable to all CurrencyFreaks API customers for more than three consecutive hours in any one calendar day, beginning at 12:00:01 AM London time (GMT + 01:00) and ending at 11:59:59 PM London time (GMT + 01:00) of the same day, an outage will be deemed to have occurred. If there are more than three outages within any one calendar week, beginning at 12:00:01 AM London time (GMT + 01:00) on a Monday and ending at 11:59:59 PM London time (GMT + 01:00) on a Sunday, then You may terminate this Agreement, without liability, by providing written notice to CurrencyFreaks of Your intention to do so within one calendar week of the third outage. Upon such termination being accepted by CurrencyFreaks, 
            You shall be entitled to a refund equal to the amount You have paid for the latest term.
        </p>
    </div>
    <div class="child_terms">
        <h3 class="title">Right to Change Content or Format</h3>
        <p class="description">You acknowledge that CurrencyFreaks may from time to time, and in its sole discretion, update or change the content or format of CurrencyFreaks API Data or the CurrencyFreaks API. CurrencyFreaks shall strive to provide reasonable advance notification of such changes; however, from time to time sudden changes may be required, and since CurrencyFreaks strivesto accurately reflect these and adjust to these changes, significant advance notice is not always possible. You may be required to use the most recent version of the CurrencyFreaks API in order to ensure the functionality of Your application(s) with CurrencyFreaks API Data & Services.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Publicity</h3>
        <p class="description">Each Subscriber is permitted to state publicly that such Subscriber is a Subscriber of the Services. 
            Each Subscriber agrees that CurrencyFreaks (CurrencyFreaks) may include such Subscriber’s name and trademarks in a list 
            of CurrencyFreaks (CurrencyFreaks) Subscribers, online or in promotional materials. Each Subscriber also agrees that 
            CurrencyFreaks (CurrencyFreaks) may verbally reference such Subscriber as a Subscriber of the Services. Subscriber may 
            opt-out of the provisions in this section by contacting CurrencyFreaks.com Support.</p>
    </div>
    <div class="child_terms">
        <h2 class="title">Proprietary Rights</h2>
        <h3 class="title">Trademarks</h3>
        <p class="description">"CurrencyFreaks", CurrencyFreaks.com the CurrencyFreaks logo and other identifying marks of CurrencyFreaks are and shall remain the trademarks and trade names and exclusive property of CurrencyFreaks, and any unauthorized use of these marks is unlawful. Other trade-marks on the Services are the property of their respective owners.
        </p>
    </div>
    <div class="child_terms">
        <h3 class="title">Licensed, Not Sold</h3>
        <p class="description">Use of CurrencyFreaks API Data & Services and the CurrencyFreaks API is licensed, and not sold.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Consent to Collection, Use, Retention, and Disclosure of Information</h3>
        <p class="description">In the course of providing the CurrencyFreaks API, CurrencyFreaks collects information, including standard information of the type normally exchanged when accessing any web site or web service. This information pertains only to the access of the CurrencyFreaks API, and is no different in nature to the information available to any Internet web server during the course of fulfilling a standard web request. Please read CurrencyFreaks’s Privacy Policy. By agreeing to the terms of this Agreement, You are expressly consenting to CurrencyFreaks’s collection, use, retention, and disclosure of information as set out in its <b>Privacy Policy</b>.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">No Granting of Ownership Rights</h3>
        <p class="description">You acknowledge that CurrencyFreaks owns all right, title, and interest (including but not limited to all copyright rights therein) in and to the CurrencyFreaks API Data & Services or the CurrencyFreaks API, and that You shall not take any action inconsistent with such ownership. Nothing contained in this Agreement shall be construed as granting You or any end users any ownership rights in or to any CurrencyFreaks API Data & Services or the CurrencyFreaks API.
        </p>
    </div>
    <div class="child_terms">
        <h3 class="title">CurrencyFreaks’s Right to Terminate</h3>
        <p class="description">CurrencyFreaks reserves the right at any time to terminate this Agreement, or withdraw from distributing CurrencyFreaks API Data & Services or providing access to the CurrencyFreaks API, if for any reason it no longer retains the right to publish or distribute the CurrencyFreaks API Data & Services.
        </p>
    </div>
    <div class="child_terms">
        <h2 class="title">Disclaimer</h2>
        <h3 class="title">Provided in Good Faith</h3>
        <p class="description">The CurrencyFreaks API is provided by CurrencyFreaks in good faith and although CurrencyFreaks endeavors to ensure that CurrencyFreaks API Data & Services and the CurrencyFreaks API are accurate and obtained from sources believed to be reliable, CurrencyFreaks does not guarantee or warrant:</p>
        <ul>
            <li>the accuracy, authenticity, timeliness, reliability, appropriateness, correct sequencing, or completeness of CurrencyFreaks API Data & Services or the CurrencyFreaks API; or</li>
            <li>that the CurrencyFreaks API Data & Services or the CurrencyFreaks API is free from errors or other material defects.</li>
        </ul>
    </div>
    <div class="child_terms">
        <h3 class="title">Disclaimer</h3>
        <p class="description">The CurrencyFreaks API and CurrencyFreaks API Data & Services are provided “as is” and “as available”, without any warranty of any kind and CurrencyFreaks, its affiliates, agents and/or suppliers, officers, directors, and employees expressly disclaim any and all warranties, whether expressed or implied, including without limitation the warranties of merchantability, fitness for a particular purpose, and non-infringement of the rights of third parties. In no event shall CurrencyFreaks be liable for indirect, special, punitive, or consequential damages including, but not limited to, lost profits, lost data, or otherwise. In no event shall CurrencyFreaks, any of its affiliates, or any of their data providers involved in supplying, developing, operating, or managing the CurrencyFreaks API, be liable for indirect, special, punitive, or consequential damages including, but not limited to, lost profits, lost data, or otherwise. In the event the limitations and disclaimers contained in this Article are found by a court of competent jurisdiction to be ineffective or inapplicable, the parties agree that CurrencyFreaks’s maximum aggregate liability to You and all end-users, whether arising in contract, tort, strict liability, or otherwise, shall be limited, and in no event shall it exceed, the amount of fees paid by You for the current term.</p>
    </div>
        <div class="child_terms">
        <h3 class="title">Disclaimer</h3>
        <p class="description">You acknowledge that CurrencyFreaks is not, and is not affiliated with, a financial institution or financial data feed provider, but obtains its financial data from a variety of sources. You further acknowledge that financial data often differs between financial institutions and between geographic jurisdictions and accordingly may vary from that provided by CurrencyFreaks pursuant to this agreement. Although CurrencyFreaks has used its commercially reasonable efforts to obtain the most accurate and timely financial data available from the aforementioned sources, CurrencyFreaksmakes no representations or warranties as to accuracy, authenticity, timeliness, reliability, appropriateness, correct sequencing or completeness of the CurrencyFreaks API Data or the CurrencyFreaks API. You acknowledge that no part of CurrencyFreaks API Data constitutes advice regarding financial, investment, legal, or tax issues, and that You and all end-users should seek independent professional advice before making any decisions regarding such issues. Disclaimer CurrencyFreaks does not represent or warrant that the CurrencyFreaks API, or access to the CurrencyFreaks API, will be uninterrupted or error-free or that errors in the CurrencyFreaks API and/or CurrencyFreaks API Data & Services will be corrected.</p>
    </div>
    <div class="child_terms">
        <h3 class="title">Disclaimer</h3>
        <p class="description">In no event shall CurrencyFreaks, any of its affiliates, or any of their data providers involved in supplying, developing, operating, or managing the CurrencyFreaks API be liable to You or to any end-users in any manner whatsoever for any interruptions, delays, the unavailability or inoperability, inaccuracies, errors, or omissions, regardless of cause, in the CurrencyFreaks API and/or the CurrencyFreaks API Data & Services or for any losses, damages, liabilities or expenses resulting therefrom regardless of cause, even if CurrencyFreaks knew or should have known of the possibility of or could have prevented such damages.</p>
    </div>
        <div class="child_terms">
        <h3 class="title">Indemnification by You</h3>
        <p class="description">You shall indemnify, defend, and save harmless CurrencyFreaks, its affiliates and subsidiaries, and their officers, directors, employees and agents from any loss, damage, liability or expense (including reasonable attorneys’ fees, accountants’ fees and other legal expenses) to which any of them may become subject to and which are in any way related to or which have arisen under or in connection with:</p>
        <ul>
            <li>any act or omission by You or any person connected, affiliated, or associated with You with respect to this Agreement and/or the CurrencyFreaks API; and/or,</li>
            <li>any non-fulfillment or breach of any covenant or agreement on Your part pursuant to this Agreement or any incorrectness in or breach of any representation or warranty made by You contained in this Agreement.</li>
        </ul>
    </div>
    <div class="child_terms">
        <h2 class="title"></h2>
        <p class="description"></p>
    </div>
</div>
  </div>
    