*{
	box-sizing: border-box;
	margin: 0;
}
html, body{
	font-family: 'Nunito', sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	overflow-x: hidden;
}
body a{ 
	color: #d9d9d9;
	text-decoration: none;
}
body ul{
	list-style: none;
}
/*COMMON CLASS IN ALL PAGES*/
.commonClass{
	margin-top: 110px;
}
/*Styling Menu*/
#menu {
	width: 100%;
	display: flex;
	background-color: teal;
	margin: 0;
	position: fixed;
	top: 0;
	/* margin-bottom: 130px; */
}
#menu .menu_items {
	width: 50%;
}
.logo_area a img {
	width: 111px;
    margin-left: 62%;
    cursor: pointer;
}
#menu .link_area{
	width: 100%;
}
#menu .link_area ul#top_nav {
    list-style: none;
	text-align: center;
}
#menu .link_area ul li {
	display: inline-block;    
    margin: 41px 12px 0;
    font-size: 15px;
}
#menu .link_area ul li a{
	color: #eee;
    text-decoration: none;
	transition: 0.5s;
	padding: 0 5px;
}
#menu .link_area ul li a:hover{
	color: #fff;
	border-bottom: 1px solid #fff;
}
#menu .link_area ul li a:active {
	background-color: yellow;
}
.icon {
    position: absolute;
    height: 112px;
    right: 0;
    top: 0;
    width: 68%;
	text-align: center;
	display: none;
}
.icon .fas {
    font-size: 40px;
    color: #00b3b3;
	cursor: pointer;
}
/*Styling About Us page*/
#about_us_page{
	width: 100%;
	background-color: #fff;
	padding-top: -50px;
}
.top_header {
    background-color: #009999;
    padding: 33px 0;
    margin: 0;
    text-align: center;
	color: #fff;
}
#about_us_page p {
	width: 50%;
    font-size: 20px;
    margin: 80px auto;
    text-align: justify;
    color: #737373;
    word-spacing: 4px;
    line-height: 1.5em;
}
#about_us_page p a{
	text-decoration: none;
	color: #33adff;
}
/*Styling footer Page*/
#footer_area{
	width: 100%;
	background-color: #004040;
	display: flex;
	flex-direction: row;
	position: relative;
	font-size: 15px;
}
#footer_area .child_footer {
    width: 25%;
    margin: 48px 0px 20px;
}
.child_footer img {
	width: 110px;
    margin: 0px 71px 0px 103px;
}
.child_footer ul {
	width: 100%;
	margin: 0;
	padding: 0;
}
.child_footer ul li{
	margin-bottom: 20px;
	color: #fff;
}
.child_footer ul li a{
	border-bottom: 1px dotted #d9d9d9;
}
.child_footer ul li a:hover{
	border-bottom: 1px dotted #fff;
	color: #fff;
}
.contact_us_links a{
	border-bottom: none !important;
}
.child_footer ul .font_awosome{
	display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}
.contact_us_links span{
	color: red;
	font-size: 20px;
}
/*Styling Main index Page*/
#main{
	color: #eee;
	display: flex;
	padding-bottom: 50px;
	margin: 44px auto 0 auto;
}
.introduction{
	width: 50%;
	display: inline-block;
}
.text_section{
    float: right;
	text-align: justify;
	margin-right: 20px;
}
.inner_text_area {
    width: 63%;
    float: right;
    margin-top: 85px;
}
.introduction h2 {
	font-size: 29px;
	margin-bottom: 20px;
}
.introduction p{
	font-size: 16px;
	line-height: 1.5em;
}
.signUpLink {
	width: 180px;
	padding: 12px 0;
	display: block;
	text-align: center;
	background-color: #009999;
	border-radius: 20px;
	margin: 20px auto;
	color: #fff;
}
.signUpLink:hover{
	background-color: green;
}
.inner_text_area .signUpLink {
    margin: 0px;
    margin-top: 30px;
}
.sample_code{
	float: left;
}
.code_container {
    background-color: #004d4d;
    color: #f3b55e;
    border-radius: 25px;
    font-size: 17px;
    line-height: 1.5em;
    float: left;
	padding-right: 30px;
	border: 3px solid #20b2aa;
}
.code_container span{
	margin-left: 20px;
    line-height: 2em;
}
.main_page {
    width: 100%;
	background-color: teal;
	padding-top: 29px;
}
.features {
    color: #565656;
    background-color: #fff;
    width: 100%;
    margin: 0;
	padding: 0;
	height: 650px;
}
.f_heading {
    width: 100%;
    padding: 25px 0;
    text-align: center;
}
.features .child_f {
    width: 50%;
    float: left;
    margin: 50px 0;
}
.features .child_f_left {
    width: 50%;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: 40px;
}
.features .child_f_right {
    width: 50%;
    margin-bottom: 60px;
    margin-left: 60px;
}
.title{
	font-size: 23px;
	margin-bottom: 15px;
	color: #333;
	line-height: 1.5em;
}
.child_f p {
    font-size: 20px;
	line-height: 1.5em;
	text-align: justify;
}
.uses{
	display: table;
	width: 100%;
	color: #565656;
	background-color: #eee;
	padding: 20px 0;
}
.uses_content{
	display: table-row;
	width: 100%;
}
.uses_title {
    display: table-caption;
	text-align: center;
	background-color: #eee;
	font-size: 25px;
	padding: 20px 0;
}
.hero_container{
	display: table-cell;
	width: 50%;
}
.inner {
    width: 55%;
    text-align: justify;
	margin: 10px;
	padding: 10px;
}
.inner_left {
    margin-left: auto;
}
.her0-left {
    border-right: 2px solid blue;
}
.inner p {
    font-size: 19px;
    line-height: 1.5em;
}
.currency_rates {
    width: 100%;
    background-color: teal;
	padding: 80px 0;
	color: #fff;
	text-align: center;
}
.currency_rates h2{
	padding: 30px 0;
	margin-bottom: 20px;
}
.currency_link {
    float: none;
    padding: 12px 25px;
}
.documentation {
    /* background-color: aliceblue; */
    padding: 50px 0;
    display: flex;
    height: 100%;
	width: 100%;
	font-family: "Open Sans", Helvetica, sans-serif;
}
.documentation h1,h2,h3,h4{
	line-height: 1.5em;
	margin: 10px 0;
}
.documentation #shell,#shell-0,#shell-1,#shell-2,#shell-3,#shell-4,#shell-5{
	display: block;
}
.sidebar {
    width: 49%;
    z-index: 1;
}
.sidebar a {
    display: block;
    color: blue;
    font-size: 13px;
    padding: 6px 12px;
    font-family: "Open Sans", Helvetica, sans-serif;
}
.docx_0_1 {
    border-right: 1px solid black;
    position: fixed;
    left: 250px;
    width: 250px;
	margin-bottom: 24px;
	background-color: #fff;
}
a.a_title {
    background-color: teal;
    color: #fff;
}

.documentationContent {
    width: 100%;
}
.child_documentation {
    width: 70%;
    text-align: justify;
    margin-left: 50px;
	margin-bottom: 30px;
	line-height: 1em;
}
.grandChild_documentation{
	margin-top: 30px;
}
.child_documentation ul{
	list-style: disc;
	color: #737373;
	margin-bottom: 20px;
}
.description {
    margin: 10px 0;
    font-size: 16px;
	line-height: 1.5em;
	color: #737373;
	margin-top: 20px;
}
.formate{
	border: none; 
	resize: none;
	line-height: 1.5em;
}
.xml_formate {
    background-color: #f2f2f2;
    overflow: auto;
    line-height: 1.5em;
}
.table{
	margin: 20px 0;
}
.table, .t_h, .t_d {
    border: 1px solid;
	border-collapse: collapse;
	background-color: #fff;
	color: #737373;
	padding: 5px;
	width: auto;
}

.t_h:hover{
	background-color: #d9d9d9;	
}
.t_d:hover {
	background-color: #d9d9d9; 
}
/*Tabs Styling*/
.endPoints {
    background-color: #fff;
	overflow: hidden;
	/* margin: 20px 0; */
}
.code_buttons {
    padding: 15px 12px;
    background-color: #fff;
	outline: none;
	border-bottom: 0;
    float: left;
	color: grey;
	border: none;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.endPoints .code_buttons:hover {
	background-color: #ddd;
	color: teal;
	border-radius: 10px;
}
.endPoints button.active {
	color: teal;
    border: 1px solid grey;
    background-color: #eee;
	border-bottom: none;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 10px;
}
.endpointContent{
	display: none;
}
/*Pricing styling*/
.pricing_title {
    padding: 20px 0;
    color: #666;
    text-align: center;
    font-size: 30px;
}
.pLink {
    width: 130px;
    background-color: #009999;
    border-radius: 20px;
    color: #fff;
    transition: 1s;
    display: block;
    cursor: pointer;
    font-weight: normal;
    margin: 0 auto;
    padding: 5px 0;
}
.pLink:hover{
	background-color: green;
}
.signupLI {
    border-bottom: none !important;
    margin-top: 10px !important;
}
.main_pricing_content {
    display: flex;
    width: 80%;
	margin: 50px auto;	
}
.child_pricing {
	margin: 20px auto;
	overflow: hidden;	
	box-shadow: 0px 0px 6px #afb4ba;
	width: 17%;
	height: fit-content;
	padding-bottom: 20px;
}
.pricing_list{
	padding: 0;
    text-align: center;
    font-weight: bold;
	line-height: 2em;
	color: #666;
	
}
.pricing_list li {
    border-bottom: 1px solid grey;
    font-size: 13px;
    padding: 4px 0;
    width: 90%;
    margin: 0 auto;
    line-height: 2em;
}
.p_title_span {
    color: #fff;
    font-size: 25px;
}
.prcing_list_title {
    background-color: teal;
    padding: 5px 0;
}
.amountPerMonth {
	background-color: #00b3b3;
	height: 122px;
}
.amountPerMonth, .prcing_list_title{
	width: 100% !important;
}
.perMonthorYear {
    font-size: 14px;
	display: block;
	font-weight: normal;
	color: #fff;
}
.enterprise_link a{
	width: 100px !important;
	font-size: 14px;
}
.enterprise_link{
	padding-top: 50px;
}
span.amount {
    color: #fff;
	font-size: 25px;
	display: block;
	margin-top: 30px;
}
.enterprise_link {
    margin-top: 0 !important;
    padding: 26px 0 !important;
	background-color: #20b2aa;
}
.enterPrise_bottom {
    background-color: teal;
    padding: 60px;
    text-align: center;
}
.enterPrise_bottom {
    background-color: teal;
    padding: 60px;
    text-align: center;
    color: #fff;
}
.tryourservice{
	color: #fff;
	padding: 20px 0;
	font-size: 25px;
}
.free_plan {
	margin: 20px auto;
	width: 220px;
	font-size: 14px;
}
/*Switcher styling*/
.switch_container{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0 0;
}
.switch {
    position: relative;
    height: 40px;
    width: 240px;
	background-color: #20b2aa;
	border-radius: 15px;	
}
input.checkbox_input {
    height: 100%;
    width: 100%;
    z-index: 2;
    appearance: none;
	outline: none;
	cursor: pointer;
}
.switch::before, .switch::after {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 12px;
	pointer-events: none;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	z-index: 4;
}
.switch::before{
	content: "Monthly Payment";
	left: 15px;
}
.switch::after{
	content: "Yearly Payment";
	right: 10px;
}
.switch label {
	position: absolute;
    height: 85%;
    width: 124px;
    background-color: teal;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    border-radius: 13px;
    opacity: 1;
    z-index: 1;
}
input.checkbox_input:checked + label{
	left: calc(100% - 125px);
}
.small_paragraph {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.5em;
    text-align: center;
    color: grey;
}
/*Terms Of Services*/
.main_terms_container{
	width: 100%;
	background-color: #fff;
	color: #666;
}
.termsOfservice{
	padding: 25px 0;
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: justify;
}
.child_terms{
	margin-bottom: 30px;
}
h2.title{
	margin-bottom: 20px;
	font-size: 24px;
	color: #666;
}
.main_terms_container ul{
	list-style-type: disc;
	font-size: 15px;
	line-height: 1.3em;
}
/*Sign Up*/
.main_signUp_container {
    padding-top: 44px;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
}
.upper_area {
	padding: 10px 0;
}
.upper_area button{
    display: block;
    margin: 25px auto;
    padding: 10px;
    width: 200px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #666;
    font-weight: bold;
	box-shadow: 1px 1px 2px grey;
	cursor: pointer;
	transition: 1s;
}
.upper_area button:hover{
	color: blue;
}
.upper_area span .fab {
    margin-right: 23px;
    color: tomato;
    font-size: 15px;
}
.upper_area span .fab:hover {
    color: blue;
}
.form_elements{
	margin: 20px 0;
}
.form_elements label {
    position: unset;
    display: block;
    margin-left: 0px;
    width: 415px;
    margin: 10px auto;
    text-align: left;
}
.form_elements input {
    background-color: #eee;
    padding: 12px 30px;
    width: 475px;
    border: 1px solid #eee;
    outline: none;
    border-radius: 22px;
    font-size: 15px;
}
input.submitBtn {
    width: 123px !important;
    padding: 13px 8px;
    background-color: #009999;
    border-radius: 26px;
    color: #fff;
    transition: 1s;
    cursor: pointer;
}
input.submitBtn:hover {
	background-color: green;
}
.p_title_span {
    font-size: 18px;
}
span.amount {
    font-size: 18px;
}
.child_table {
    width: 80%;
    margin: 30px auto;
	text-align: center;
}
.supported_currency_table {
    width: 50%;
    margin: 0 auto;
}
.supported_currency_table {
    width: 50%;
    margin: 0 auto;
    border: none !important;
}
.supported_currency_table img {
    width: 50px;
	height: 44px;
	float: left;
}
/*contact us page*/
.contact_us {
    display: flex;
    padding-top: 50px;
}
.contact_content {
	width: 50%;
}
.contact_content img {
    width: 400px;
    float: right;
    margin-top: 178px;
}
.contactForm .title {
    font-size: 25px;
    color: #666;
}
.contactForm {
    text-align: center;
}
.contactForm .description{
	width: 54%;
	margin: 0 auto;
	text-align: justify;
	font-size: 20px;
	color: #666;
}
.contactForm input{
	width: 450px;
}
.contactForm input[type="email"] {
    width: 200px;
    float: right;
    margin-right: 11px;
}
.contactForm input[type="tel"] {
    width: 200px;
    float: left;
    margin-left: 20px;
}
.email_phone {
    display: flex;
    justify-content: center;
}
.email_phone .form_elements {
    width: 38%;
}
.email_phone label {
    width: 67px;
}
.email_phone .phone label {
	margin: 10px 0px 10px 36px;
}
.contactForm textarea {
    border: none;
    outline: none;
    background-color: #eee;
    border-radius: 30px;
	padding: 20px;
	width: 450px;
}
.sitemap {
    padding: 150px 0;
    display: flex;
    justify-content: center;
}
.sitemap li{
    margin: 10px 0;
}
.sitemap ul li a{
    color: blue;
	margin: 5px 0;
	font-size: 16px;
	border-bottom: 1px dotted blue;
}
.child_sitemap {
    margin: 0 50px;
}
h4.sitemaptitles {
	margin: 12px 0;
	color: #555;
}
.mainContent {
    padding: 50px 0;
    width: 900px;
	margin: auto;
}
.mainContent label{
	color: #666;
	
}
.mainContent input{
	height: 50px;
	padding: 0 20px;
    border-radius: 50px;
    border: none;
    outline: none;
	background-color: #f2f2f2;
	font-size: 15px;
}
.amount {
	width: 100%;
	text-align: center;
}
.amount label {
    display: block;
    width: 295px;
    text-align: left;
    margin: 4px auto;
}
.inpNum {    
    width: 300px;
}
.toFrom {
    display: flex;
    justify-content: center;
    
}
.toFromInput {
    width: 120px;
    margin: 20px 10px;
}
.swapBtn {
    display: flex;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
}
.swapBtn button {
    background-color: lightblue;
    padding: 15px 30px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
}
.swapBtn button:hover{
	background-color: #16a085;
	color: #f2f2f2;
}
.conBtn {
    display: flex;
    justify-content: center;
}
.conSubBtn {
	margin: 40px 0;
    background-color: #20b2aa !important;
    color: #f2f2f2;
	font-size: 18.5px !important;
	cursor: pointer;
}
.conSubBtn:hover{
	background-color: teal !important;
}
.valueEquals {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 30px auto;
	width: 80%;
}
.valueEquals h3 {
    padding: 10px 0;
    margin: 20px 0;
    text-align: center;
    background-color: teal;
    color: #f2f2f2;
    font-size: 25px;
    font-weight: bold;
}
.liveRates{
    text-align: center;
    margin: 50px 0;
    color: #666;
    font-size: 20px;
}
.tableContent th, td {
    border-right: 2px solid #ddd;
    width: 180px;
}
.conTable {
    line-height: 5em;
}
.tableContent {
    margin: auto;
    border-collapse: collapse;
}
.pakToggle {
    border-right: none;
}
.tableContent #gbp, #usd, #eur {
    position: relative;
    bottom: 14px;
    font-size: 25px;
}
.tableContent img {
    width: 45px;
    float: left;
	position: relative;
	margin-left: 10px;
}
.sideBorder{
	width: 11px !important;
	float: unset !important;
	top: 30px;
}
#onepkr {
    position: relative;
    font-weight: bold;
    font-size: 27px;
    left: 42px;
}
.tbodySpan {
    position: relative;
    left: 50px;
    font-size: 21px;
}
.pk-64 {
    top: 26px;
}
.eur_png {
    position: relative;
    top: 10px;
}
#gbpData {
    bottom: 15px;
}

/*toggle button*/
.toggle {
    position: relative;
    display: inline-block !important;
    width: 5rem;
    height: 2.4rem;
    top: 8px;
    left: 96px;
}

.toggle input {
    display: none;
}

.roundbutton {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 63px;
    background-color: #aaa;
    display: block;
    transition: all 0.3s;
    border-radius: 34px;
	cursor: pointer;
	height: 35px;
}

.roundbutton:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 100%;
    display: block;
    left: 5px;
    top: 4px;
    background-color: white;
    transition: all 0.3s;
}

input:checked + .roundbutton {
	background-color: teal;
	outline: none;
}

input:checked + .roundbutton:before  {
    transform: translate(28px, 0);
}
.inverse {
    position: relative;
    right: 99px;
    font-size: 27px;
    bottom: 20px;
}
/*For devices having screen max-width:600px*/
@media only screen and (max-width: 600px) {
	#menu {
		display: block;
	}
	#menu .menu_items{
		width: 100%;
	}
	#menu ul#top_nav{
		display: none;
	}
	#menu ul#top_nav li{
		display: block;
		margin-left: -39px !important;
		padding: 20px 0;
		border-bottom: 1px solid #aaa;
		background-color: #000;
		margin: 0;
	}
	.icon {
		display: block;
	}
	.icon .fas {
		display: block;
		margin-top: 45px;
		margin-right: 70px;
		float: right;
	}
	#footer_area{
		padding: 50px 0;
		flex-direction: column;

	}
	#footer_area .child_footer{
		width: 100%;
		margin: 20px 29px 0px;
	}
	#footer_area img{
		float: none;
		margin: 0;
	}
	#about_us_page p{
		width: 80%;
		margin: 30px auto;
		font-size: 14px;
	}
	.logo_area a img {
		width: 120px;
		margin-left: 5%;
		cursor: pointer;
	}
	#main {
	    display: block;
	}
	.introduction {
		width: 100%;
		display: block;
	}
	.introduction h2{
		font-size: 23px;
	}
	.text_section {
		margin: 50px auto;
		float: none;
	}
	.inner_text_area {
		float: none;
		width: 89%;
		margin: 50px auto;
	}
	.sample_code{
		float: none;
	}
	.code_container {
		float: none;
		margin: auto;
	}
	p.content_p {
		font-size: 3.2vw;
	}
	.features .child_f {
		width: 100%;
		margin: 0;
	}
	.features .child_f_left {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	.features .child_f_right {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 50px;
	}
	.inner_left {
		margin-left: 0;
	}
	.inner {
		width: 100%; 
	}
	.her0-left {
		border-right: none;
	}
	.hero_container {
		display: block;
		width: 90%;
		margin: 0 auto;		
	}
	.uses_title {
		padding: 0;
		font-size: 20px;
	}
	.top_header {
		font-size: 18px;
	}
	.termsOfservice {
		width: 90%;
	}
	.main_pricing_content{
		width: 80%;
		display: block;
		margin: 50px auto;	  
	}	
	.pLink {
		width: 120px;
		padding: 0;
		margin: 10px auto 0 auto;
	}
	.tryourservice {
		padding: 0px;
		font-size: 18px;
	}
	.description {
		font-size: 12px;
		line-height: 1.5em;
	}
	.child_pricing {
		width: 80%;
		margin: 20px auto;
	}
	/*Documentation.html styling*/
	.documentation{
		padding: 24px 0;
		display: block;
	}	
	.sideBorder {
		width: 11px !important;
		float: unset !important;
		top: 36px;
	}
	.sidebar {
		margin: auto;
		width: 75%;
		text-align: center;
	}
	.docx_0_1{
		position: unset;
		width: 100%;
		margin: 50px 0;
		box-shadow: -3px 5px 0px lightgrey;
	}
	.child_documentation .title{
		font-size: 16px;
		text-align: center;
	}
	.child_documentation {
		width: 80%;
		margin: 30px auto;
	}
	.child_documentation li{
		font-size: 12px;
	}
	.code_buttons{
		padding: 6px 10px;
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.endPoints button.active{
		margin-top: 0;
	}
	.endPoints {
		margin: 20px 0 ;
	}
	/**/
	.free_plan {
		width: 136px;
		font-size: 12px;
		padding: 10px 0;
	}
	.supported_currency_table{
		width: 100%;
	}
	/*Sign Up Styling(Responsive)*/
	.form_elements{
		margin: 20px auto;
		width: 80%;
	}
	.form_elements label{
		width: 66%;
	}
	.form_elements input{
		width: 75%;
		margin-bottom: 20px;
	}
	/***************************************/
	.contact_us{
		flex-direction: column;
		padding-top: 0;
	}
	.contact_content{
		width: 90%;
		margin: auto;
	}
	.contactForm{
		padding-top: 30px;
	}
	.contactForm .description {
		width: 75%;
	}
	.email_phone .form_elements {
		width: 100%;
	}
	.contactForm input {
		width: 90%;
	}
	.contactForm input[type="tel"] {
		margin-left: 80%;
		margin-left: 0;
	}
	.contactForm input[type="email"] {
		width: 80%;
	}
	.email_phone label {
		width: 64%;
	}
	.email_phone .phone label {
		margin: 10px 0px 10px 15px;
	}
	.contactForm input[type="tel"] {
		width: 80%;
		margin-left: 0;
	}
	.email_phone label {
		width: 54% !important;
	}
	.contactForm textarea {
		width: 90%;
	}
	.contactForm label {
		width: 57%;
	}
	.contact_content img {
		width: 166px;
		margin-left: 28%;
		float: none;
		margin-top: 70px;
	}
	.sitemap {
		padding: 50px 0;
		display: block;
	}
	.child_sitemap {
		margin: 30px 0px;
	}
	.mainContent {
		width: 100%;
	}
	.conBtn {
		display: block;
		width: 50%;
		margin-left: 20%;
	}
	.toFrom {
		width: 50%;
		flex-direction: column;
		margin-left: 20%;
		margin-top: 30px;
	}
	.mainContent label {
		display: block;
	}
	.swapBtn {
		display: block;
		margin: 20px 0;
	}
	.valueEquals {
		width: 80%;
		margin: auto;
		min-width: 300px;
	}
	.inpNum {
		width: 200px;
	}
	.amount {
		text-align: left;
		width: 50%;
		margin-left: 20%;
	}
	.liveRates {
		font-size: 18px;	
	}
	.mainContent input {
		margin-left: auto;
	}
	.amount label {
		margin-bottom: 15px;
	}
}


/*For devices having width between 600 and 900*/
@media screen and (max-width: 900px) and (min-width: 600px)
{
	#menu{
		display: block;
	}
	#menu .menu_items{
		width: 100%;
	}
	.logo_area a img {
		margin-left: 7%;
	}
	#menu ul#top_nav li{
		display: block;
		margin-left: -39px !important;
		padding: 20px 0 20px 40px; 
		border-bottom: 1px solid #aaa;
		background-color: #000;
		margin: 0;		
	}
	#menu .link_area ul#top_nav{
		display: none;
		width: 100%;
	}
	.icon {
		display: block;
		width: 68%;
	}
	.icon .fas{	
		display: block;
		margin-top: 48px;
		float: right;
		margin-right: 83px;
	}
	#footer_area{
		display: block;
		padding: 50px;
	}
	#footer_area .child_footer{
		width: 50%;
		margin-left: 34px;
	}
	#footer_area img{
		float: none;
		margin: 0;
	}	
	#about_us_page p{
		width: 80%;
	}	
	#main {
		height: 90%;
	    display: block;
		width: 88%;
		color: #eee;
		margin: 44px auto 0 auto;	
	}
	.introduction {
		width: 100%;
		display: block;
	}
	.text_section {
		float: none;
	}
	.inner_text_area {
		float: none;
		width: 89%;
		margin: 50px auto;
	}
	.sample_code{
		float: none;
	}
	.code_container {
		float: none;
		margin: auto;
	}
	p.content_p {
		font-size: 2vw;
	}
	.pLink {
		width: 90%;
		padding: 0;
		font-size: 10px;
	}
	.contact_us{
		flex-direction: column;
		padding-top: 0;
	}
	.contact_content{
		width: 90%;
		margin: auto;
	}
	.contactForm{
		padding-top: 30px;
	}
	.contactForm input {
		width: 60%;
	}
	.contactForm input[type="tel"] {
		margin-left: 80%;
		margin-left: 0;
	}
	.contactForm input[type="email"] {
		width: 80%;
	}
	.email_phone label {
		width: 64%;
	}
	.email_phone .phone label {
		margin: 10px 0px 10px 15px;
	}
	.contactForm input[type="tel"] {
		width: 80%;
		margin-left: 0;
	}
	.email_phone label {
		width: 54% !important;
	}
	.contactForm textarea {
		width: 63%;
	}
	.contactForm label {
		width: 57%;
	}
	.contact_content img {
		width: 300px;
		margin-left: 31%;
		float: none;
		margin-top: 60px;
	}
	.sitemap {
		padding: 50px 0;
		display: block;
	}
	.child_sitemap {
		margin: 30px 0px;
	}
	.mainContent {
		width: 100%;
	}	
	.toFrom {
		width: 50%;
		flex-direction: column;
		margin-left: 20%;
		margin-top: 30px;
	}	
	.mainContent label {
		display: block;
	}
	.amount label {
		margin: 0 0 15px 0;
	}
	.swapBtn {
		display: block;
		margin: 20px 0;
	}
	.valueEquals {
		width: 80%;
		margin: auto;
	}
	.inpNum {
		width: 200px;
		margin-left: 22%;
	}
	.amount {
		text-align: left;
		width: 50%;
		margin-left: 20%;
	}
	.liveRates {
		font-size: 18px;
	}
	.mainContent input {
		margin-left: auto;
	}
	.conBtn {
		display: block;
		width: 50%;
		margin-left: 20%;
	}
	.termsOfservice {
		width: 90%;
	}
}
@media screen and (max-width: 1200px) and (min-width: 600px){
	.documentation {
		flex-direction: column;
		padding-top: 0;
	}
	.docx_0_1 {
		position: unset;
		width: auto;
		margin: 30px 0;
		box-shadow: -3px 5px 0px lightgrey;		
	}
	.sidebar {
		width: 80%;
		margin: 30px auto;
		z-index: -1;
		text-align: center;
	}
	.documentationContent {
		width: 80%;
		margin: auto;
	}
	.child_documentation {
		width: 100%;
		margin: 20px 0; 
	}
	.endPoints {
		margin: 20px 0 ;
	}
	.endPoints button.active {
		margin-top: 0;
	}
	.code_buttons {
		margin-right: 10px;
		margin-bottom: 15px;
		padding: 10px 12px;
	}
}